<div
  class="btc-network-checker-container"
  style="position: fixed; bottom: 24px; right: 24px; z-index: 100"
>
  <button
    nz-button
    nzType="primary"
    nzShape="circle"
    nz-popover
    nzPopoverTitle="正在进行中的任务"
    [(nzPopoverVisible)]="visible"
    nzPopoverTrigger="click"
    [nzPopoverContent]="contentTemplate"
    [nzPopoverPlacement]="'leftBottom'"
  >
    <i nz-icon [nzType]="'ordered-list'" nzTheme="outline"></i>
  </button>
  <nz-badge
    nzStandalone
    [nzCount]="tasks.length"
    style="position: fixed; right: 12px; bottom: 42px"
  ></nz-badge>

  <ng-template #contentTemplate>
    <nz-list
      nzBordered
      nzSize="small"
      style="background: white; max-height: 800px; overflow: auto"
    >
      <nz-list-header>
        <!-- <span style="width: 200px; display: inline-block;">ID</span> -->
        <span style="width: 240px; display: inline-block">Name</span>
        <span style="width: 240px; display: inline-block">Key</span>
        <span style="width: 80px; display: inline-block">Progress</span>
        <span style="width: 80px; display: inline-block">Priority</span>
        <span style="width: 100px; display: inline-block">Start At</span>
        <span style="width: 80px; display: inline-block">估算时长</span>
        <span style="width: 80px; display: inline-block">Remark</span>
      </nz-list-header>
      <nz-list-item *ngFor="let item of tasks">
        <!-- <span style="width: 1; display: inline-block;">{{item.id}}</span> -->
        <span style="width: 240px; display: inline-block">{{ item.name }}</span>
        <span style="width: 240px; display: inline-block">
          <p
            nz-typography
            nzEllipsis
            [nzEllipsisRows]="1"
            nzCopyable
            [nzCopyTooltips]="[item.key, '复制成功']"
            [nzContent]="item.key"
            style="width: 220px; margin-bottom: 0"
          ></p>
        </span>
        <span style="width: 80px; display: inline-block">{{
          item.progress
        }}</span>
        <span style="width: 80px; display: inline-block">{{
          item.priority
        }}</span>
        <span style="width: 100px; display: inline-block">
          <created-at [createdAt]="item.startAt"></created-at>
        </span>
        <span style="width: 80px; display: inline-block">{{
          item.avgCostTime > 0 ? (item.avgCostTime | timeDuration) : "--"
        }}</span>

        <span style="width: 80px; display: inline-block">{{
          item.remark || "【无】"
        }}</span>
      </nz-list-item>
    </nz-list>
  </ng-template>
</div>
