<div class="cex-token-price-change-statistics-table-container">
  <nz-table
    nzShowSizeChanger
    [nzData]="items"
    [nzFrontPagination]="false"
    [nzLoading]="loading"
    [nzTotal]="total"
    [nzShowTotal]="rangeTemplate"
    [nzPageSize]="pageSize"
    [nzPageIndex]="pageIndex"
    (nzQueryParams)="onQueryParamsChange($event)"
  >
    <thead>
      <tr>
        <th
          nzColumnKey="time"
          [nzSortFn]="true"
          [nzSortDirections]="['descend', 'ascend', null]"
        >
          时刻
        </th>
        <th nzColumnKey="inDays">周期（天）</th>
        <th
          title="排行越低, 数值越小"
          nzColumnKey="avgCurrentPriceRelative"
          [nzSortFn]="true"
          [nzSortDirections]="['descend', 'ascend', null]"
        >
          {{ "平均当前价位 | 排行" }}
        </th>
        <th
          title="排行越低, 数值越小"
          nzColumnKey="avgPriceChangePercent"
          [nzSortFn]="true"
          [nzSortDirections]="['descend', 'ascend', null]"
        >
          {{ "平均涨跌幅 | 排行" }}
        </th>

        <th nzColumnKey="Action" style="width: 140px">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of items">
        <td>
          <created-at [createdAt]="data.time || 0"></created-at>
        </td>

        <td>
          {{ data.inDays }}
        </td>

        <td>
          {{
            (data.avgCurrentPriceRelative | toFixed : 3) +
              " | " +
              data.avgCurrentPriceRelativeRanking
          }}
        </td>

        <td>
          {{
            (data.avgPriceChangePercent | toFixed : 3) +
              " | " +
              data.avgPriceChangePercentRanking
          }}
        </td>

        <td>
          <button nz-button nzType="default" (click)="select(data)">
            选择该时刻
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>

  <ng-template #rangeTemplate let-range="range" let-total>
    {{ range[0] }}-{{ range[1] }} of {{ total }} items
  </ng-template>
</div>
