<div class="btc-future-checker-container" style="position:fixed; top: 24px; right: 24px; z-index: 100">
  <button nz-button nzType="primary" nzShape="circle" (click)="open()" style="margin-bottom: 24px">
    <i nz-icon [nzType]="'bold'" nzTheme="outline"></i>
  </button>
  <nz-drawer [nzClosable]="false" [nzVisible]="visible" nzPlacement="right"
    [nzTitle]="'最近'+ (days) + '天 BTCUSDTPERP 数据'" (nzOnClose)="close()">
    <ng-container *nzDrawerContent>
      <div style="margin-bottom: 12px">
        <nz-radio-group [formControl]="intervalCtrl" nzButtonStyle="solid">
          <label nz-radio-button *ngFor="let item of intervals" [nzValue]="item.value">{{item.label}}</label>
        </nz-radio-group>

        <update-time [status]="status" style="margin-left: 12px"></update-time>
        <button nz-button nzType="primary" nzShape="circle" (click)="refresh()"><span nz-icon
            nzType="sync"></span></button>
      </div>
      <div *ngFor="let item of items" style="margin-bottom: 12px">
        <nz-tag style="margin-bottom: 12px">
          <span>{{item.label + (item.values.length > 0 ? ' : ' + (item.values[item.values.length - 1] | localeString) :
            '')}}</span>
        </nz-tag>
        <nz-spin [nzSpinning]="item.status === 'loading'">
          <small-chart [data]="item.values" [interval]="interval" [time]="time" [title]="'btc ' + item.label"
            [type]="item.chartOptions.chartType" [priceMode]="!!item.chartOptions.priceMode"
            [regionFilters]="item.chartOptions.regionFilters" [showAxis]="true" [width]="300" [height]="120">
          </small-chart>
        </nz-spin>
      </div>
    </ng-container>
  </nz-drawer>
</div>