<div class="cex-token-price-change-statistics-container" (click)="open()">
  <ng-container *ngIf="content" [ngTemplateOutlet]="content"></ng-container>
  <ng-container *ngIf="!content">
    <button nz-button nzType="primary" [title]="'涨跌幅统计'">
      涨跌幅统计
    </button>
  </ng-container>
</div>

<nz-modal
  [(nzVisible)]="visible"
  [nzWidth]="1200"
  [nzTitle]="'市场概览'"
  [nzFooter]="null"
  (nzOnCancel)="visible = false"
>
  <ng-container *nzModalContent>
    <nz-collapse>
      <nz-collapse-panel [nzHeader]="'历史分布图'" [nzActive]="true">
        <history-distribution-chart></history-distribution-chart>
      </nz-collapse-panel>

      <nz-collapse-panel [nzHeader]="'当前价位/涨跌幅趋势'" [nzActive]="false">
        <market-overview-chart></market-overview-chart>
      </nz-collapse-panel>

      <nz-collapse-panel [nzHeader]="'期货市场趋势'" [nzActive]="false">
        <cex-future-chart></cex-future-chart>
      </nz-collapse-panel>

      <nz-collapse-panel [nzHeader]="'当前价位分布'" [nzActive]="false">
        <price-relative-chart></price-relative-chart>
      </nz-collapse-panel>

      <nz-collapse-panel [nzHeader]="'涨跌幅分布'" [nzActive]="false">
        <price-change-chart></price-change-chart>
      </nz-collapse-panel>

      <nz-collapse-panel [nzHeader]="'发现市场拐点'" [nzActive]="false">
        <market-shift-explorer></market-shift-explorer>
      </nz-collapse-panel>

      <nz-collapse-panel
        [nzHeader]="'交易量排行前十上榜次数统计'"
        [nzActive]="false"
      >
        <volume-ranking-statistics></volume-ranking-statistics>
      </nz-collapse-panel>

      <nz-collapse-panel
        [nzHeader]="'CexTokenPriceChange 详细数据'"
        [nzActive]="false"
      >
        <cex-token-price-change-table></cex-token-price-change-table>
      </nz-collapse-panel>

      <nz-collapse-panel
        [nzHeader]="'CexFuturePriceChange 详细数据'"
        [nzActive]="false"
      >
        <cex-future-price-change-table></cex-future-price-change-table>
      </nz-collapse-panel>
    </nz-collapse>
  </ng-container>
</nz-modal>
