<div class="notify-observer-not-allow-list-container">
  <nz-card>
    <form nz-form [formGroup]="form" (ngSubmit)="submitForm()">
      <div nz-row [nzGutter]="24">


        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-label [nzSpan]="10" nzFor="name">名称</nz-form-label>
            <nz-form-control [nzSpan]="14">
              <input nz-input class="ant-input" placeholder="请输入名称" formControlName="name" [attr.id]="'name'" />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>


      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="24">
          <nz-form-item nz-row class="register-area">
            <nz-form-control [nzSpan]="14" [nzOffset]="6">
              <button nz-button [nzType]="'primary'">搜索</button>
              <button nz-button type="button" (click)="resetForm()" style="margin-left: 12px">重置</button>
            </nz-form-control>
          </nz-form-item>
        </div>

      </div>

    </form>
  </nz-card>

  <button nz-button [nzType]="'primary'" (click)="showCreateModal()" style="margin-top: 12px;">
    添加
  </button>

  <nz-card style="margin-top: 12px">
    <nz-table nzShowSizeChanger [nzData]="items" [nzFrontPagination]="false" [nzLoading]="loading" [nzTotal]="total"
      [nzShowTotal]="rangeTemplate" [nzPageSize]="pageSize" [nzPageIndex]="pageIndex"
      (nzQueryParams)="onQueryParamsChange($event)">
      <thead>
        <tr>
          <th nzColumnKey="name">名称</th>
          <th nzColumnKey="cryptoFundraisingURL">cryptoFundraisingURL</th>
          <th nzColumnKey="rootDataPayload" [nzSortFn]="true">rootDataPayload</th>

          <th nzColumnKey="createdAtStr" [nzSortFn]="true">添加时间</th>
          <th nzColumnKey="Action">操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of items">
          <td>{{ data.name }}</td>
          <td>{{ data.cryptoFundraisingURL }}</td>
          <td>{{ data.rootDataPayload | json }}</td>

          <td><created-at [createdAt]="data.createdAt"></created-at></td>
          <td>
            <button nz-button nzType="primary" (click)="confirmEdit(data)" style="margin-right: 8px">编辑</button>
            <a nz-popconfirm nzPopconfirmTitle="确认删除该条数据?" nzPopconfirmPlacement="bottom"
              (nzOnConfirm)="confirmDelete(data)" (nzOnCancel)="cancelDelete(data)">
              <button nz-button nzType="primary" nzDanger>删除</button>
            </a>
          </td>
        </tr>
      </tbody>
    </nz-table>

    <ng-template #rangeTemplate let-range="range" let-total>
      {{ range[0] }}-{{ range[1] }} of {{ total }} items
    </ng-template>
  </nz-card>

</div>