<div class="cex-future-chart-container">
  <form
    nz-form
    [nzLayout]="'inline'"
    [formGroup]="form"
    (ngSubmit)="submitForm()"
  >
    <nz-form-item style="margin-bottom: 6px">
      <nz-form-label nzFor="timeDateRange">最近多少天动图</nz-form-label>
      <nz-form-control>
        <nz-range-picker
          [nzRanges]="timeRanges"
          formControlName="timeDateRange"
        ></nz-range-picker>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item style="margin-bottom: 6px">
      <nz-form-label nzFor="symbol">symbol</nz-form-label>
      <nz-form-control>
        <app-cex-future-search-multi-input
          formControlName="symbol"
        ></app-cex-future-search-multi-input>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="register-area" style="margin-bottom: 6px">
      <nz-form-control>
        <button nz-button [nzType]="'primary'">搜索</button>
        <button
          nz-button
          type="button"
          (click)="resetForm()"
          style="margin-left: 6px"
        >
          重置
        </button>

        <button
          *ngIf="showPauseTimer"
          nz-button
          type="button"
          (click)="enablePauseTimer()"
          style="margin-left: 12px"
        >
          {{ pauseTimer ? "继续" : "暂停" }}
        </button>
        <button
          *ngIf="showPauseTimer"
          nz-button
          type="button"
          [title]="
            '减速' + '(当前/最小 ' + this.speed + '/' + this.minSpeed + ')'
          "
          (click)="speedDown()"
          style="margin-left: 6px"
        >
          {{ " - " + " (" + this.speed + "/" + this.minSpeed + ")" }}
        </button>
        <button
          *ngIf="showPauseTimer"
          nz-button
          type="button"
          [title]="
            '减速' + '(当前/最大 ' + this.speed + '/' + this.maxSpeed + ')'
          "
          (click)="speedUp()"
          style="margin-left: 6px"
        >
          {{ " + " + " (" + this.speed + "/" + this.maxSpeed + ")" }}
        </button>
      </nz-form-control>
    </nz-form-item>
  </form>
  <nz-alert
    nzType="warning"
    [nzMessage]="alertMessage"
    style="margin: 12px 0"
  ></nz-alert>
  <nz-spin [nzSpinning]="loading">
    <div>
      <bubble-chart
        [width]="1120"
        [height]="600"
        [data]="data"
        [alias]="alias"
        [formatter]="formatter"
        [min]="min"
        [max]="max"
        [styleKey]="styleKey"
        [styleCallback]="styleCallback"
        [annotation]="annotation"
        [animateDuration]="animateDuration"
      ></bubble-chart>
    </div>
  </nz-spin>
</div>
