<div class="statistics-ranking-chart-container">
  <button nz-button [nzType]="'primary'" (click)="fetchLatestRanking()">
    获取最新排行
  </button>
  <nz-spin [nzSpinning]="loading">
    <div
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
      "
    >
      <div *ngFor="let chartData of chartDataItems">
        <bar-chart
          [data]="chartData.data"
          [width]="300"
          [baseline]="baseline"
        ></bar-chart>
        <p style="text-align: center">{{ chartData.title }}</p>
      </div>
    </div>
  </nz-spin>
</div>
