<div class="fund-raise-container">
  <nz-card>
    <form nz-form [formGroup]="form" (ngSubmit)="submitForm()">
      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-label [nzSpan]="10" nzFor="name">项目名称</nz-form-label>
            <nz-form-control [nzSpan]="14">
              <input nz-input class="ant-input" placeholder="请输入项目名称全称" formControlName="name" [attr.id]="'name'" />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-label [nzSpan]="10" nzFor="website">项目官网</nz-form-label>
            <nz-form-control [nzSpan]="14">
              <input nz-input class="ant-input" placeholder="请输入项目官网" formControlName="website" [attr.id]="'website'" />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>


      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="24">
          <nz-form-item nz-row class="register-area">
            <nz-form-control [nzSpan]="14" [nzOffset]="6">
              <button nz-button [nzType]="'primary'">搜索</button>
              <button nz-button type="button" (click)="resetForm()" style="margin-left: 12px">重置</button>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
  </nz-card>

  <button nz-button [nzType]="'primary'" (click)="showCreateModal()" style="margin-top: 12px;">
    添加项目
  </button>


  <nz-card style="margin-top: 12px">
    <nz-table nzShowSizeChanger [nzData]="items" [nzFrontPagination]="false" [nzLoading]="loading" [nzTotal]="total"
      [nzShowTotal]="rangeTemplate" [nzPageSize]="pageSize" [nzPageIndex]="pageIndex"
      (nzQueryParams)="onQueryParamsChange($event)">
      <thead>
        <tr>
          <th nzColumnKey="name">名称</th>
          <!-- <th nzColumnKey="description">项目简介</th> -->
          <th nzColumnKey="investors">投资机构</th>
          <th nzColumnKey="twitterHomeLink">Twitter</th>
          <th nzColumnKey="telegramHomeLink">Telegram</th>
          <th nzColumnKey="discordHomeLink">Discord</th>
          <th nzColumnKey="mediumHomeLink">Medium</th>
          <th nzColumnKey="youtubeHomeLink">Youtube</th>
          <th nzColumnKey="enableTracking">每日统计</th>

          <th nzColumnKey="createdAtStr" [nzSortFn]="true">添加时间</th>
          <th nzColumnKey="Action">操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of items">
          <td>
            <linkable [href]="'https://' + data.website">
            </linkable>
            <span style="margin-left: 12px">{{ data.name }}</span>
          </td>
          <!-- <td>{{ data.description }}</td> -->
          <td>

            <nz-tag *ngIf="!data.investors || data.investors.length === 0" nzColor="default">【无】</nz-tag>

            <nz-tag *ngIf="data.investors && data.investors.length === 1" nzColor="default">{{data.investors[0]}}
            </nz-tag>

            <nz-tag *ngIf="data.investors && data.investors.length > 1" nz-tooltip
              [nzTooltipTitle]="data.investors.join(', ')" nzColor="default">{{data.investors[0] + ' and '
              + (data.investors.length - 1) + ' more'}}</nz-tag>

          </td>
          <td>
            <linkable [href]="data.twitterHomeLink" icon="twitter">
            </linkable>
          </td>
          <td>
            <linkable [href]="data.telegramHomeLink" icon="send">
            </linkable>
          </td>
          <td>
            <linkable [href]="data.discordHomeLink" icon="team">
            </linkable>
          </td>
          <td>
            <linkable [href]="data.mediumHomeLink" icon="medium">
            </linkable>
          </td>
          <td>
            <linkable [href]="data.youtubeHomeLink" icon="youtube">
            </linkable>
          </td>

          <td>
            <nz-tag *ngIf="data.enableTracking; else disableTrackingTpl" nzColor="success">
              <i nz-icon nzType="check-circle"></i>
              <span>已开启</span>
            </nz-tag>
            <ng-template #disableTrackingTpl>
              <nz-tag nzColor="warning">
                <i nz-icon nzType="exclamation-circle"></i>
                <span>未开启</span>
              </nz-tag>
            </ng-template>
          </td>
          <td>{{ data.createdAtStr }}</td>
          <td>


            <button nz-button (click)="confirmUpdate(data)" nzType="primary" nzShape="round" nzSize="small" nz-tooltip
              [nzTooltipTitle]="'修改'" style="margin-right: 8px">
              <i nz-icon nzType="edit" nzTheme="outline"></i>
            </button>

            <a nz-popconfirm nzPopconfirmTitle="确认删除该条数据?" nzPopconfirmPlacement="bottom"
              (nzOnConfirm)="confirmDelete(data)" (nzOnCancel)="cancelDelete(data)">
              <button nz-button nzType="primary" nzDanger nzShape="round" nzSize="small" nz-tooltip
                [nzTooltipTitle]="'删除'" style="margin-right: 8px">
                <i nz-icon nzType="delete" nzTheme="outline"></i>
              </button>
            </a>


            <linkable [href]="projectDetailHref(data._id)" icon="export">
            </linkable>
          </td>
        </tr>
      </tbody>
    </nz-table>

    <ng-template #rangeTemplate let-range="range" let-total>
      {{ range[0] }}-{{ range[1] }} of {{ total }} items
    </ng-template>
  </nz-card>
</div>