<div class="airdrop-account-detail-container">
  <div nz-row [nzGutter]="16">
    <div nz-col class="gutter-row" [nzSpan]="24">

      <nz-spin [nzSpinning]="loadingAirdropAccount">
        <nz-card style="width:100%" nzTitle="基本信息" [nzExtra]="extraTemplate">
          <div class="base-info-container">
            <div class="project-logo-container">
              <image-view [width]="64" [name]="airdropAccountDetail?.logo"></image-view>
            </div>
            <div class="project-desc-container">
              <h2>{{airdropAccountDetail?.name}}</h2>

              <p>{{airdropAccountDetail?.remark || '【无】'}}</p>

              <div *ngIf="airdropAccountDetail" class="airdrop-account-addresses" style="display: flex">
                <p *ngIf="airdropAccountDetail.evmWalletAddress" nz-typography nzCopyable
                  [nzCopyText]="airdropAccountDetail.evmWalletAddress" [nzCopyTooltips]="['复制EVM地址', '复制EVM地址成功']">
                  evm: {{airdropAccountDetail.evmWalletAddress | blockchainAddressString}}</p>
                <p *ngIf="airdropAccountDetail.solWalletAddress" nz-typography nzCopyable
                  [nzCopyText]="airdropAccountDetail.solWalletAddress" [nzCopyTooltips]="['复制Sol地址', '复制Sol地址成功']"
                  style="margin-left: 16px">
                  solana: {{airdropAccountDetail.solWalletAddress | blockchainAddressString}}</p>

                <created-at [createdAt]="airdropAccountDetail.createdAt" style="margin-left: 16px"></created-at>
              </div>

              <div *ngIf="airdropAccountDetail" class="airdrop-account-links" style="display: flex;">
                <div *ngIf="airdropAccountDetail.gmailName" class="airdrop-account-gmail" style="display: flex;">
                  <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg">
                    <image [attr.href]="'/assets/gmail-logo.jpg'" width="24" height="24" />
                  </svg>
                  <span nz-typography nzCopyable style="margin-left: 8px" [nzCopyText]="airdropAccountDetail.gmailName"
                    [nzCopyTooltips]="['复制Gamil用户名', '复制Gamil用户名成功']">{{airdropAccountDetail.gmailName}}</span>
                  <span nz-typography nzCopyable style="margin-left: 8px"
                    [nzCopyText]="airdropAccountDetail.gmailPassword"
                    [nzCopyTooltips]="['复制Gmail密码', '复制Gmail密码成功']">{{airdropAccountDetail.gmailPassword |
                    passwordString}}</span>
                </div>

                <div *ngIf="airdropAccountDetail.twitterName" class="airdrop-account-twitter"
                  style="display: flex; margin-left: 16px">
                  <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg">
                    <image [attr.href]="'/assets/twitter-logo.svg'" width="24" height="24" />
                  </svg>
                  <span nz-typography nzCopyable style="margin-left: 8px"
                    [nzCopyText]="airdropAccountDetail.twitterName"
                    [nzCopyTooltips]="['复制twitter用户名', '复制twitter用户名成功']">{{airdropAccountDetail.twitterName}}</span>
                  <span nz-typography nzCopyable style="margin-left: 8px"
                    [nzCopyText]="airdropAccountDetail.twitterPassword"
                    [nzCopyTooltips]="['复制twitter密码', '复制twitter密码成功']">{{airdropAccountDetail.twitterPassword |
                    passwordString}}</span>
                </div>

                <div *ngIf="airdropAccountDetail.discordName" class="airdrop-account-discord"
                  style="display: flex; margin-left: 16px">
                  <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg">
                    <image [attr.href]="'/assets/discord-logo.svg'" width="24" height="24" />
                  </svg>
                  <span nz-typography nzCopyable style="margin-left: 8px"
                    [nzCopyText]="airdropAccountDetail.discordName"
                    [nzCopyTooltips]="['复制discord用户名', '复制discord用户名成功']">{{airdropAccountDetail.discordName}}</span>
                  <span nz-typography nzCopyable style="margin-left: 8px"
                    [nzCopyText]="airdropAccountDetail.discordPassword"
                    [nzCopyTooltips]="['复制discord密码', '复制discord密码成功']">{{airdropAccountDetail.discordPassword |
                    passwordString}}</span>
                </div>

                <div *ngIf="airdropAccountDetail.galxeName" class="airdrop-account-galxe"
                  style="display: flex; margin-left: 16px">
                  <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg">
                    <image [attr.href]="'/assets/galxe-logo.webp'" width="24" height="24" />
                  </svg>
                  <span nz-typography nzCopyable style="margin-left: 8px" [nzCopyText]="airdropAccountDetail.galxeName"
                    [nzCopyTooltips]="['复制galxe用户名', '复制galxe用户名成功']">{{airdropAccountDetail.galxeName}}</span>
                </div>
              </div>
            </div>
          </div>
        </nz-card>
        <ng-template #extraTemplate>
          <button nz-button nzType="primary" nzShape="circle" (click)="confirmUpdateAirdropAccount()"><span nz-icon
              nzType="edit"></span></button>
        </ng-template>
      </nz-spin>

      <!-- <nz-spin [nzSpinning]="loadingNotifyObservers">
        <nz-card style="width: 100%; margin-top: 12px" nzTitle="通知源">
          <div class="notify-observer-container">
            <div class="create-notify-observer-container">
              <button nz-button [nzType]="'primary'" (click)="showCreateNotifyObserverModal()"
                style="margin-top: 12px;">
                添加
              </button>
            </div>
            <div class="notify-observer-list-container" style="margin-top: 12px">

              <div nz-row [nzGutter]="16">
                <div *ngFor="let item of notifyObservers" nz-col nzLg="12" nzXl="8" style="margin-bottom: 12px">
                  <notify-observer-item [width]="270" [item]="item" (update)="confirmUpdate(item)"
                    (delete)="confirmDelete(item)"></notify-observer-item>
                </div>

                <ng-container *ngIf="notifyObservers.length === 0">
                  <div style="width: 100%; display: flex; justify-content: center;">
                    <nz-empty></nz-empty>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </nz-card>
      </nz-spin> -->

      <nz-card style="width: 100%; margin-top: 12px" nzTitle="参加的任务">
        <p>待完成</p>
      </nz-card>
      <nz-card style="width: 100%; margin-top: 12px" nzTitle="交互记录">
        <p>待完成</p>
        <!-- <app-tracking-record-list [followedProjectID]="followedProjectID"></app-tracking-record-list> -->
      </nz-card>

    </div>
  </div>
</div>