<div class="timer-notify-observer-modal-container">
  <button nz-button nzType="primary" (click)="open()">
    定时任务时刻表
  </button>
</div>

<nz-modal [(nzVisible)]="visible" [nzWidth]="1200" [nzTitle]="'定时任务时刻表'" [nzFooter]="null" (nzOnCancel)="visible=false">
  <ng-container *nzModalContent>

    <form nz-form [formGroup]="form">
      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-label [nzSpan]="10" nzTooltipTitle="任务">
              <button nz-button nzType="primary" nzSize="small" nzShape="circle" (click)="confirmCreate()">
                <span nz-icon nzType="plus" nzTheme="outline"></span>
              </button>
              <span style="margin-left: 12px;">任务</span>
            </nz-form-label>
            <nz-form-control [nzSpan]="14">
              <nz-radio-group formControlName="taskType" nzSize="small" [nzButtonStyle]="'solid'">
                <label *ngFor="let item of taskTypes" nz-radio-button [nzValue]="item.value"
                  [title]="item.title">{{item.label}}</label>
              </nz-radio-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>

    <div nz-row [nzGutter]="16" *ngFor="let outerItem of times" style="margin-bottom: 12px">
      <div nz-col class="gutter-row" [nzSpan]="4" *ngFor="let innerItem of outerItem">
        <div class="inner-box">
          <nz-list nzBordered nzSize="small" [ngStyle]="{
            'border-color': nowHour === innerItem.hour ? '#28d328' : '',
            'color': nowHour === innerItem.hour ? '#28d328' : ''
          }">
            <nz-list-header>{{innerItem.hour}}</nz-list-header>
            <nz-list-item *ngFor="let item of innerItem.items">
              <div style="display: flex; width: 100%; position: relative;">
                <span (click)="confirmUpdate(item)" [title]="tooltipGetter(innerItem.hour, item)"
                  style="cursor: pointer; width: 80%;">{{item.notifyShowTitle}}</span>
                <span *ngIf="item.timerOnce" title="一次性通知" nz-icon nzType="minus-circle" [nzTheme]="'twotone'"
                  [nzTwotoneColor]="'#eb2f96'" style="position: absolute; right: 30%; transform: rotate(90deg);"></span>

                <button style="margin-left: 6px" nz-button nzType="primary" [nzSize]="'small'" nzDanger nzShape="circle"
                  nz-popconfirm nzPopconfirmTitle="确认删除该通知源?" nzPopconfirmPlacement="bottom"
                  (nzOnConfirm)="confirmDelete(item)"><span nz-icon nzType="delete"></span></button>
              </div>
            </nz-list-item>
            <!-- <nz-list-footer>Footer</nz-list-footer> -->
          </nz-list>
        </div>
      </div>
    </div>
  </ng-container>
</nz-modal>