<div class="create-notify-observer-container">
  <form nz-form [formGroup]="form">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="sourceType" nzRequired nzTooltipTitle="来源类型">
        <span>来源类型</span>
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your 来源类型!">
        <nz-select [attr.id]="'sourceType'" formControlName="type" [nzDisabled]="disabledType">
          <nz-option *ngFor="let item of types" [nzValue]="item.value" [nzLabel]="item.label">
          </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzTooltipTitle="开启后，定时追踪最新文章">
        <span>开启追踪</span>
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-switch formControlName="enableTracking"></nz-switch>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="notifyShowTitle" nzTooltipTitle="通知标题，支持占位符{title}、{time}">
        <span>通知标题</span>
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input class="ant-input" id="notifyShowTitle" formControlName="notifyShowTitle" />
      </nz-form-control>
    </nz-form-item>

    <ng-container *ngIf="isMedium">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="mediumHomeLink" nzTooltipTitle="medium 主页链接">
          <span>medium 主页链接</span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input class="ant-input" id="mediumHomeLink" formControlName="mediumHomeLink" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="mediumTitleKey" nzTooltipTitle="如填写，则匹配该关键字">
          <span>文章标题关键字</span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <textarea nz-input class="ant-input" id="mediumTitleKey" formControlName="mediumTitleKey"></textarea>
        </nz-form-control>
      </nz-form-item>
    </ng-container>

    <ng-container *ngIf="isMirror">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="mirrorHomeLink" nzTooltipTitle="mirror 主页链接">
          <span>mirror 主页链接</span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input class="ant-input" id="mirrorHomeLink" formControlName="mirrorHomeLink" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="mirrorTitleKey" nzTooltipTitle="如填写，则匹配该关键字">
          <span>文章标题关键字</span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <textarea nz-input class="ant-input" id="mirrorTitleKey" formControlName="mirrorTitleKey"></textarea>
        </nz-form-control>
      </nz-form-item>
    </ng-container>


    <ng-container *ngIf="isTwitter">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="twitterHomeLink" nzTooltipTitle="twitter 主页链接">
          <span>twitter 主页链接</span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input class="ant-input" id="twitterHomeLink" formControlName="twitterHomeLink" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="twitterTitleKey" nzTooltipTitle="如填写，则匹配该关键字，多个关键字可用英文逗号(,)分开">
          <span>文章关键字</span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <textarea nz-input class="ant-input" id="twitterTitleKey" formControlName="twitterTitleKey"></textarea>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzTooltipTitle="开启后，追踪twitter reply">
          <span>追踪 回复推文</span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-switch formControlName="twitterWithReply"></nz-switch>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzTooltipTitle="开启后，追踪twitter like">
          <span>追踪 点赞推文</span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-switch formControlName="twitterWithLike"></nz-switch>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzTooltipTitle="开启后，追踪twitter 关注列表变化">
          <span>追踪 关注列表变化</span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-switch formControlName="twitterWithFollowingsChange"></nz-switch>
        </nz-form-control>
      </nz-form-item>
    </ng-container>

    <ng-container *ngIf="isTwitterSpace">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="twitterSpaceHomeLink" nzTooltipTitle="twitter space 主页链接">
          <span>twitter space 主页链接</span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input class="ant-input" id="twitterSpaceHomeLink" formControlName="twitterSpaceHomeLink" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="twitterSpaceTitleKey"
          nzTooltipTitle="如填写，则匹配该关键字，多个关键字可用英文逗号(,)分开">
          <span>标题关键字</span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <textarea nz-input class="ant-input" id="twitterSpaceTitleKey"
            formControlName="twitterSpaceTitleKey"></textarea>
        </nz-form-control>
      </nz-form-item>
    </ng-container>

    <ng-container *ngIf="isQuest3">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="quest3HomeLink" nzTooltipTitle="quest3 主页链接">
          <span>quest3 主页链接</span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input class="ant-input" id="quest3HomeLink" formControlName="quest3HomeLink" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="quest3TitleKey" nzTooltipTitle="如填写，则匹配该关键字，多个关键字可用英文逗号(,)分开">
          <span>标题关键字</span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <textarea nz-input class="ant-input" id="quest3TitleKey" formControlName="quest3TitleKey"></textarea>
        </nz-form-control>
      </nz-form-item>
    </ng-container>


    <ng-container *ngIf="isGalxe">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="galxeHomeLink" nzTooltipTitle="galxe 主页链接">
          <span>galxe 主页链接</span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input class="ant-input" id="galxeHomeLink" formControlName="galxeHomeLink" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="galxeTitleKey" nzTooltipTitle="如填写，则匹配该关键字，多个关键字可用英文逗号(,)分开">
          <span>标题关键字</span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <textarea nz-input class="ant-input" id="galxeTitleKey" formControlName="galxeTitleKey"></textarea>
        </nz-form-control>
      </nz-form-item>
    </ng-container>


    <ng-container *ngIf="isTimer">
      <nz-alert nzType="warning" [nzMessage]="timerMessage" style="margin: 12px 0"></nz-alert>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="timerHour" nzTooltipTitle="hour: 0 - 23 必填">
          <span>时</span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <app-multi-input formControlName="timerHour" [min]="0" [max]="23"></app-multi-input>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="timerMinute" nzTooltipTitle="minute: 0 - 59 必填">
          <span>分</span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <app-multi-input formControlName="timerMinute" [min]="0" [max]="59"></app-multi-input>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="timerDate" nzTooltipTitle="date: 1 - 31 选填">
          <span>日</span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <app-multi-input formControlName="timerDate" [min]="1" [max]="31"></app-multi-input>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="timerMonth" nzTooltipTitle="month: 1 - 12 选填">
          <span>月</span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <app-multi-input formControlName="timerMonth" [min]="1" [max]="12"></app-multi-input>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="timerNotifyShowDesc" nzTooltipTitle="通知显示详情">
          <span>通知显示详情</span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <textarea nz-input class="ant-input" id="timerNotifyShowDesc"
            formControlName="timerNotifyShowDesc"></textarea>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="timerNotifyShowUrl" nzTooltipTitle="通知跳转链接">
          <span>通知跳转链接</span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <textarea nz-input class="ant-input" id="timerNotifyShowUrl" formControlName="timerNotifyShowUrl"></textarea>
        </nz-form-control>
      </nz-form-item>
    </ng-container>

    <ng-container *ngIf="isSnapshot">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="snapshotHomeLink" nzTooltipTitle="snapshot 主页链接">
          <span>snapshot 主页链接</span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input class="ant-input" id="snapshotHomeLink" formControlName="snapshotHomeLink" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="snapshotTitleKey" nzTooltipTitle="如填写，则匹配该关键字，多个关键字可用英文逗号(,)分开">
          <span>标题关键字</span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <textarea nz-input class="ant-input" id="snapshotTitleKey" formControlName="snapshotTitleKey"></textarea>
        </nz-form-control>
      </nz-form-item>
    </ng-container>


    <ng-container *ngIf="isGuild">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="guildHomeLink" nzTooltipTitle="guild 主页链接">
          <span>guild 主页链接</span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input class="ant-input" id="guildHomeLink" formControlName="guildHomeLink" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="guildTitleKey" nzTooltipTitle="如填写，则匹配该关键字，多个关键字可用英文逗号(,)分开">
          <span>标题关键字</span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <textarea nz-input class="ant-input" id="guildTitleKey" formControlName="guildTitleKey"></textarea>
        </nz-form-control>
      </nz-form-item>
    </ng-container>

  </form>

</div>