<span
  class="cex-token-symbol-item-container"
  nz-popover
  nzPopoverTrigger="click"
  [nzPopoverTitle]="titleTemplate"
  [nzPopoverContent]="contentTemplate"
  style="display: flex; align-items: center; cursor: pointer"
>
  <ng-container
    *ngIf="content"
    [ngTemplateOutlet]="content"
    [ngTemplateOutletContext]="templateContext"
  ></ng-container>
  <ng-container *ngIf="!content">
    <image-view [name]="_logoName" style="margin-right: 4px"></image-view>
    <span class="symbol-item-default-content">{{ _symbol }}</span>
  </ng-container>
</span>

<ng-template #titleTemplate>
  <div style="display: flex; align-items: center">
    <image-view [name]="_logoName"></image-view>
    <span style="margin: 0 6px">{{ _name + " - " + _fullname }}</span>
    <app-collect-input [formControl]="hasCollectCtrl"></app-collect-input>
  </div>
</ng-template>
<ng-template #contentTemplate>
  <div class="symbol-item-content">
    <div class="symbol-item-tags" style="margin-bottom: 12px">
      <span class="tags-label" style="margin-right: 6px">分类：</span>
      <ng-container *ngIf="_tagLabels.length > 0; else noTags">
        <span class="tag-item-label">{{ _tagLabels.join(", ") }}</span>
      </ng-container>

      <ng-template #noTags>
        <span>【无】</span>
      </ng-template>
    </div>

    <div class="symbol-item-tags" style="margin-bottom: 12px">
      <span class="marketcap-label" style="margin-right: 6px">市值：</span>
      <span class="marketcap-value">{{ _marketCap | currency }}</span>
      <span
        *ngIf="_marketCapRanking"
        class="marketcap-value"
        [title]="'市值排行 ' + _marketCapRanking"
        style="margin-left: 12px; font-weight: bold"
        >{{ "# " + _marketCapRanking }}</span
      >
    </div>

    <div class="symbol-item-tags" style="margin-bottom: 12px">
      <span class="time-label" style="margin-right: 6px">上市时间：</span>
      <span class="time-value"
        ><created-at [createdAt]="_listingTime"></created-at
      ></span>
    </div>

    <div
      *ngIf="_circulatingSupply > 0 && _totalSupply > 0"
      class="symbol-item-tags"
      style="margin-bottom: 12px"
    >
      <span class="amount-label" style="margin-right: 6px">流通率：</span>
      <span
        class="amount-value"
        [title]="
          (_circulatingSupply | volume) + ' / ' + (_totalSupply | volume)
        "
      >
        <nz-progress
          [nzPercent]="_supplyPercent"
          nzStatus="active"
        ></nz-progress>
      </span>
    </div>

    <div class="symbol-item-tags" style="margin-bottom: 24px">
      <span class="notify-label" style="margin-right: 6px">价格通知：</span>
      <span class="notify-add" style="margin-right: 6px">
        <button
          nz-button
          (click)="confirmAdd()"
          nzType="primary"
          nzShape="circle"
          nzSize="small"
          nz-tooltip
          [nzTooltipTitle]="'添加价格通知'"
          style="margin-right: 12px"
        >
          <i nz-icon nzType="plus" nzTheme="outline"></i>
        </button>
      </span>
      <span class="notify-value">
        <div
          class="notify-item"
          *ngFor="let item of notifyObservers"
          style="margin-bottom: 8px"
        >
          <span
            [title]="item.priceChangeType + ' ' + item.priceChangeToValue"
            style="margin-right: 36px"
            >{{ item.notifyShowTitle }}</span
          >
          <button
            nz-button
            (click)="confirmUpdate(item)"
            nzType="primary"
            nzShape="circle"
            nzSize="small"
            nz-tooltip
            [nzTooltipTitle]="'修改'"
            style="margin-right: 12px"
          >
            <i nz-icon nzType="edit" nzTheme="outline"></i>
          </button>

          <a
            nz-popconfirm
            nzPopconfirmTitle="确认删除该条数据?"
            nzPopconfirmPlacement="bottom"
            (nzOnConfirm)="confirmDelete(item)"
            (nzOnCancel)="cancelDelete(item)"
          >
            <button
              nz-button
              nzType="primary"
              nzDanger
              nzShape="circle"
              nzSize="small"
              nz-tooltip
              [nzTooltipTitle]="'删除'"
            >
              <i nz-icon nzType="delete" nzTheme="outline"></i>
            </button>
          </a>
        </div>
      </span>
    </div>

    <token-actions
      [symbol]="_symbol"
      [slug]="_slug"
      [website]="_website"
      [twitter]="_twitter"
    ></token-actions>
  </div>
</ng-template>
