<nz-tag *ngFor="let tag of tags; let i = index" [nzMode]="'closeable'" (nzOnClose)="handleClose(tag, i)"
  style="margin-bottom: 4px">
  {{ tag }}
</nz-tag>
<nz-tag *ngIf="!inputVisible" class="editable-tag" nzNoAnimation (click)="showInput()">
  <span nz-icon nzType="plus"></span>
  New
</nz-tag>

<nz-input-number #inputNumber *ngIf="type === 'number' && inputVisible" [(ngModel)]="inputValue" [nzMin]="min"
  [nzMax]="max" [nzStep]="1" (nzBlur)="handleInputConfirm()" (keydown.enter)="handleInputConfirm()"></nz-input-number>

<input #inputText nz-input *ngIf="type === 'text' && inputVisible" placeholder="please input"
  (blur)="handleInputConfirm()" (keydown.enter)="handleInputConfirm()" [(ngModel)]="inputValue" />