<nz-card *ngIf="item && mode==='default'" class="notify-observer-item-container" [ngStyle]="{width: width+'px'}"
  [nzTitle]="item.notifyShowTitle || '【默认通知标题】'" [nzExtra]="extraTemplate">
  <p style="display: flex; align-items: center; justify-content: space-between;">

    <ng-container *ngIf="item.followedProjectIDCtrl">
      <image-view *ngIf="item.followedProjectLogo; else noLogo" [width]="32" [name]="item.followedProjectLogo"
        style="cursor: pointer" nz-popover nzPopoverTrigger="click" [nzPopoverContent]="contentTemplate"></image-view>

      <ng-template #noLogo>
        <button nz-button nzType="primary" nzShape="circle" nz-popover nzPopoverTrigger="click"
          [nzPopoverContent]="contentTemplate">
          <span nz-icon nzType="project" nzTheme="outline"></span>
        </button>
      </ng-template>
    </ng-container>

    <button *ngIf="item.followedProjectID" nz-button nzSize="small" nzType="primary" nzShape="circle"
      style="margin-left: 8px" (click)="toSearch()" title="搜索该项目通知源">
      <span nz-icon nzType="search" nzTheme="outline"></span>
    </button>
    <ng-template #contentTemplate>
      <followed-project-select-view *ngIf="item.followedProjectIDCtrl"
        [formControl]="item.followedProjectIDCtrl"></followed-project-select-view>
    </ng-template>

    <nz-tag *ngIf="item.enableTracking; else disableTrackingTpl" nzColor="success">
      <i nz-icon nzType="check-circle"></i>
      <span>已开启</span>
    </nz-tag>
    <ng-template #disableTrackingTpl>
      <nz-tag nzColor="warning">
        <i nz-icon nzType="exclamation-circle"></i>
        <span>未开启</span>
      </nz-tag>
    </ng-template>

    <nz-switch [formControl]="item.enableTrackingCtrl"></nz-switch>
  </p>

  <p nz-typography nzEllipsis [nzEllipsisRows]="2" nzCopyable [nzContent]="resolveDesc(item)">
  </p>

  <div style="display: flex;justify-content: space-between;align-items: center;">
    <linkable [href]="resolveHref(item)" [content]="defaultLogo">
    </linkable>
    <span *ngIf="item.timerOnce" title="一次性通知" nz-icon nzType="minus-circle" [nzTheme]="'twotone'"
      [nzTwotoneColor]="'#eb2f96'" style="transform: rotate(90deg);"></span>

    <span>
      <span nz-icon nzType="history" nzTheme="outline" [title]="'查看通知历史'" (click)="toShowNotifyHistory()"
        style="cursor: pointer;"></span>

      <span *ngIf="!!item.timerEnableScript && !!item.timerEnableStatistics" nz-icon nzType="line-chart"
        nzTheme="outline" [title]="'查看统计数据'" (click)="toShowStatistics()"
        style="cursor: pointer; margin-left: 12px;"></span>

      <span *ngIf="!!item.timerEnableScript && !!item.timerEnableStatistics" nz-icon nzType="play-circle"
        nzTheme="outline" [title]="'立即执行'" nz-popconfirm nzPopconfirmTitle="确认立即执行?" nzPopconfirmPlacement="bottom"
        (nzOnConfirm)="confirmTimerExecute()" style="cursor: pointer; margin-left: 12px;"></span>
    </span>

    <created-at [createdAt]="item.createdAt"></created-at>
  </div>

</nz-card>
<ng-template #extraTemplate>
  <button *ngIf="enableEdit" nz-button nzType="primary" nzShape="circle" (click)="confirmUpdate()"><span nz-icon
      nzType="edit"></span></button>

  <button *ngIf="enableDelete" style="margin-left: 6px" nz-button nzType="primary" nzDanger nzShape="circle"
    nz-popconfirm nzPopconfirmTitle="确认删除该通知源?" nzPopconfirmPlacement="bottom" (nzOnConfirm)="confirmDelete()"><span
      nz-icon nzType="delete"></span></button>
</ng-template>
<ng-template #defaultLogo>
  <image-view [width]="32" [name]="item?.logo"></image-view>
</ng-template>

<linkable *ngIf="item && mode==='small'" [title]="item.notifyShowTitle" [href]=" resolveHref(item)"
  [content]="defaultLogo">
</linkable>

<nz-modal [(nzVisible)]="showModal" [nzWidth]="920" [nzFooter]="null" (nzOnCancel)="showModal=false"
  [nzTitle]="'通知历史 - ' + item?.notifyShowTitle">
  <ng-container *nzModalContent>

    <form nz-form [formGroup]="form" (ngSubmit)="submitForm()" [nzLayout]="'inline'">

      <nz-form-item>
        <nz-form-label nzFor="title">标题</nz-form-label>
        <nz-form-control>
          <input nz-input class="ant-input" placeholder="请输入标题" formControlName="title" [attr.id]="'title'" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzFor="desc">内容</nz-form-label>
        <nz-form-control>
          <input nz-input class="ant-input" placeholder="请输入内容" formControlName="desc" [attr.id]="'desc'" />
        </nz-form-control>
      </nz-form-item>


      <nz-form-item>
        <nz-form-label nzFor="hasRead">状态</nz-form-label>
        <nz-form-control>
          <nz-radio-group formControlName="hasRead" nzButtonStyle="solid">
            <label nz-radio-button *ngFor="let item of readStatuses" [nzValue]="item.value">{{item.label}}</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item class="register-area">
        <nz-form-control>
          <button nz-button [nzType]="'primary'">搜索</button>
          <button nz-button type="button" (click)="resetForm()" style="margin-left: 12px">重置</button>
        </nz-form-control>
      </nz-form-item>
    </form>

    <div style="display: flex; justify-content: center;">
      <nz-pagination [nzPageIndex]="pageIndex" [nzPageSize]="pageSize" [nzTotal]="totalCount"
        [nzShowTotal]="rangeTemplate" (nzPageIndexChange)="pageIndexChange($event)" style="margin: 12px 0;">
      </nz-pagination>

      <button *ngIf="items.length > 0" nz-button nzType="primary" nzSize="small" nzShape="circle" nz-popconfirm
        nzPopconfirmTitle="确认全部标记已读?" nzPopconfirmPlacement="bottom" (nzOnConfirm)="batchMarkRead()"
        style="margin-left: 12px"><span nz-icon nzType="eye"></span></button>
    </div>

    <div nz-row [nzGutter]="16">
      <div nz-col class="gutter-row" [nzSpan]="12" *ngFor="let item of items; trackBy:trackByID">
        <notify-history-item [item]="item" (markReadSuccess)="markRead(item)" (deleteSuccess)="markRead(item)">
        </notify-history-item>
      </div>
    </div>

    <ng-container *ngIf="items.length === 0">
      <nz-empty></nz-empty>
    </ng-container>


    <div style="display: flex; justify-content: center;">
      <nz-pagination [nzPageIndex]="pageIndex" [nzPageSize]="pageSize" [nzTotal]="totalCount"
        [nzShowTotal]="rangeTemplate" (nzPageIndexChange)="pageIndexChange($event)" style="margin: 12px 0;">
      </nz-pagination>

      <button *ngIf="items.length > 0" nz-button nzType="primary" nzSize="small" nzShape="circle" nz-popconfirm
        nzPopconfirmTitle="确认全部标记已读?" nzPopconfirmPlacement="bottom" (nzOnConfirm)="batchMarkRead()"
        style="margin-left: 12px"><span nz-icon nzType="eye"></span></button>
    </div>
    <ng-template #rangeTemplate let-range="range" let-total>
      {{ range[0] }}-{{ range[1] }} of {{ total }} items
    </ng-template>
  </ng-container>
</nz-modal>


<nz-modal [(nzVisible)]="showStatisticsModal" [nzWidth]="1200" [nzFooter]="null"
  (nzOnCancel)="showStatisticsModal=false" [nzTitle]="'统计数据 - ' + item?.notifyShowTitle">
  <ng-container *nzModalContent>
    <statistics-chart [definitions]="item?.timerStatisticsDefinitions || []"></statistics-chart>
  </ng-container>
</nz-modal>