<div class="notify-history-list-container" style="max-height: 860px;height: 860px;overflow-y: auto;overflow-x: hidden;">
  <nz-collapse>
    <nz-collapse-panel [nzHeader]="'搜索'" [nzActive]="false">
      <nz-card>
        <form nz-form [formGroup]="form" (ngSubmit)="submitForm()">
          <div nz-row>
            <div nz-col [nzSpan]="24">
              <nz-form-item>
                <nz-form-label [nzSpan]="5" nzFor="title">标题</nz-form-label>
                <nz-form-control [nzSpan]="19">
                  <input nz-input class="ant-input" placeholder="请输入标题" formControlName="title" [attr.id]="'title'" />
                </nz-form-control>
              </nz-form-item>
            </div>

          </div>

          <div nz-row>
            <div nz-col [nzSpan]="24">
              <nz-form-item>
                <nz-form-label [nzSpan]="5" nzFor="desc">内容</nz-form-label>
                <nz-form-control [nzSpan]="19">
                  <input nz-input class="ant-input" placeholder="请输入内容" formControlName="desc" [attr.id]="'desc'" />
                </nz-form-control>
              </nz-form-item>
            </div>

          </div>

          <div nz-row>
            <div nz-col [nzSpan]="24">
              <nz-form-item>
                <nz-form-label [nzSpan]="5" nzFor="sourceType">类型</nz-form-label>
                <nz-form-control [nzSpan]="19">
                  <nz-select [attr.id]="'sourceType'" formControlName="type">
                    <nz-option *ngFor="let item of types" [nzValue]="item.value" [nzLabel]="item.label">
                    </nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>

          <div nz-row>
            <div nz-col [nzSpan]="24">
              <nz-form-item>
                <nz-form-label [nzSpan]="5" nzFor="hasRead">状态</nz-form-label>
                <nz-form-control [nzSpan]="19">
                  <nz-radio-group formControlName="hasRead" nzButtonStyle="solid">
                    <label nz-radio-button *ngFor="let item of readStatuses"
                      [nzValue]="item.value">{{item.label}}</label>
                  </nz-radio-group>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>


          <div nz-row>
            <div nz-col [nzSpan]="24">
              <nz-form-item nz-row class="register-area">
                <nz-form-control [nzSpan]="14" [nzOffset]="6">
                  <button nz-button [nzType]="'primary'">搜索</button>
                  <button nz-button type="button" (click)="resetForm()" style="margin-left: 12px">重置</button>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </form>
      </nz-card>
    </nz-collapse-panel>
  </nz-collapse>

  <nz-pagination [nzPageIndex]="pageIndex" [nzPageSize]="pageSize" [nzTotal]="totalCount" [nzShowTotal]="rangeTemplate"
    (nzPageIndexChange)="pageIndexChange($event)" style="margin: 12px 0;">
  </nz-pagination>

  <ng-container *ngFor="let item of items">

    <nz-ribbon [nzText]="item.hasRead ? '已读' : 'New'" [nzColor]="item.hasRead ? '#eee' : 'pink'">
      <nz-card [ngStyle]="{width: 'auto', marginBottom: '12px', color: item.hasRead ? '#eee' : ''}"
        [nzTitle]="item.title" [nzExtra]="extraTemplate">
        <div style="position: relative;">
          <p [innerHtml]="item.desc"></p>
          <p style="position: absolute; right: 12px;">
            <span>添加时间：</span>
            <created-at [createdAt]="item.createdAt"></created-at>
          </p>
          <p style="display: flex; align-items: center;">
            <linkable [href]="item.link" [content]="defaultLogo">
            </linkable>

            <button *ngIf="item.followedProjectIDCtrl" nz-button nzType="primary" nzSize="small" nzShape="circle"
              nz-popover nzPopoverTrigger="click" [nzPopoverContent]="contentTemplate" style="margin-left: 36px"><span
                nz-icon nzType="project" nzTheme="outline"></span></button>
            <ng-template #contentTemplate>
              <followed-project-select-view *ngIf="item.followedProjectIDCtrl"
                [formControl]="item.followedProjectIDCtrl"></followed-project-select-view>
            </ng-template>
          </p>

          <p style="display: flex; align-items: center;" *ngIf="showCreateNotAllowGetter(item)">
            <button nz-button nzType="primary" nzSize="small" nzShape="circle" title="添加到黑名单通知源"
              (click)="createNotAllow(item)">
              <span nz-icon nzType="stop" nzTheme="outline"></span>
            </button>
          </p>

          <p style="display: flex; align-items: center;" *ngIf="showCreateTimerNotifyObserverGetter(item)">
            <button nz-button nzType="primary" nzSize="small" nzShape="circle" title="添加到定时任务"
              (click)="createTimerNotifyObserver(item)">
              <span nz-icon nzType="clock-circle" nzTheme="outline"></span>
            </button>
          </p>

          <ng-template #defaultLogo>
            <image-view [width]="32" [name]="item.logo"></image-view>
          </ng-template>
        </div>

        <ng-template #extraTemplate>
          <button *ngIf="!item.hasRead" nz-button nzType="primary" nzSize="small" nzShape="circle" nz-popconfirm
            nzPopconfirmTitle="确认标记已读?" nzPopconfirmPlacement="bottom" (nzOnConfirm)="markRead(item)"><span nz-icon
              nzType="eye"></span></button>

          <!-- <button *ngIf="item.type === 'GALXE_CLAIMABLE'" style="margin-left: 6px" nz-button nzType="primary"
            nzDanger nzShape="circle" nz-popconfirm nzPopconfirmTitle="没有claim成功，可以删除后下次再来提醒"
            nzPopconfirmPlacement="bottom" (nzOnConfirm)="confirmDelete(item)"
            (nzOnCancel)="cancelDelete(item)"><span nz-icon nzType="delete"></span></button> -->
        </ng-template>
      </nz-card>
    </nz-ribbon>

  </ng-container>

  <ng-container *ngIf="items.length === 0">
    <nz-empty></nz-empty>
  </ng-container>

  <nz-pagination [nzPageIndex]="pageIndex" [nzPageSize]="pageSize" [nzTotal]="totalCount" [nzShowTotal]="rangeTemplate"
    (nzPageIndexChange)="pageIndexChange($event)">
  </nz-pagination>
  <ng-template #rangeTemplate let-range="range" let-total>
    {{ range[0] }}-{{ range[1] }} of {{ total }} items
  </ng-template>
</div>