<div class="followed-project-more-container">
  <div class="notify-observer-wrappers" style="display: flex">
    <div *ngFor="let item of notifyObservers" style="margin-right: 12px;">
      <notify-observer-item [mode]="'small'" [item]="item"></notify-observer-item>
    </div>
  </div>

  <div class="followed-project-more-actions" style="margin-top: 12px;">
    <button nz-button [nzType]="'primary'" (click)="showCreateNotifyObserverModal()">
      添加通知源
    </button>
    <button nz-button [nzType]="'primary'" (click)="showCreateTrackingRecordModal()" style="margin-left: 12px;">
      添加跟踪记录
    </button>
  </div>
</div>