<div class="airdrop-job-select-view-container">
  <ng-container *ngIf="selectedAirdropJob">
    <nz-card *ngIf="selectedAirdropJob" style="width:280px;" [nzTitle]="selectedAirdropJob.title">
      <div style="display: flex;justify-content: space-between;align-items: center;">
        <linkable [href]="selectedAirdropJob.link" [content]="defaultLogo">
        </linkable>
        <created-at [createdAt]="selectedAirdropJob.createdAt"></created-at>
        <nz-tag [nzColor]="selectedAirdropJob.status | airdropJobStatusColor">{{selectedAirdropJob.status |
          airdropJobStatusString}}</nz-tag>
      </div>

      <div class="airdrop-job-remark" style="margin-top: 8px">
        <p nz-typography nzEllipsis [title]="selectedAirdropJob.remark || '【无】'">
          {{selectedAirdropJob.remark || '【无】'}}
        </p>
      </div>
      <ng-template #defaultLogo>
        <image-view [width]="64" [name]="selectedAirdropJob.logo"></image-view>
      </ng-template>
    </nz-card>
  </ng-container>
</div>