<button nz-button type="button" nzType="primary" style="margin-bottom: 8px" (click)="showSelectModal()">选择</button>

<div cdkDropList class="selected-list" (cdkDropListDropped)="drop($event)">

  <div class="selected-item" *ngFor="let item of notifyObservers" cdkDrag>
    <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
    {{item.notifyShowTitle}}

    <button nz-button nzType="primary" nzShape="circle" nzDanger class="selected-item-delete"
      (click)="confirmDeSelectItem(item)"><span nz-icon nzType="delete"></span></button>
  </div>

  <ng-container *ngIf="notifyObservers.length === 0">
    <div style="width: 100%; display: flex; justify-content: center;">
      <nz-empty></nz-empty>
    </div>
  </ng-container>
</div>


<nz-modal [(nzVisible)]="selectModalVisible" [nzWidth]="1200" nzTitle="选择" [nzFooter]="null"
  (nzOnCancel)="selectModalVisible = false">
  <ng-container *nzModalContent>
    <nz-card>
      <form nz-form [formGroup]="form" (ngSubmit)="submitForm()">
        <div nz-row [nzGutter]="24">
          <div nz-col [nzSpan]="8">
            <nz-form-item>
              <nz-form-label [nzSpan]="10" nzFor="notifyShowTitle">通知标题</nz-form-label>
              <nz-form-control [nzSpan]="14">
                <input nz-input class="ant-input" placeholder="请输入通知标题" formControlName="notifyShowTitle"
                  [attr.id]="'notifyShowTitle'" />
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <div nz-row [nzGutter]="24">
          <div nz-col [nzSpan]="24">
            <nz-form-item nz-row class="register-area">
              <nz-form-control [nzSpan]="14" [nzOffset]="6">
                <button nz-button [nzType]="'primary'">搜索</button>
                <button nz-button type="button" (click)="resetForm()" style="margin-left: 12px">重置</button>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </form>
    </nz-card>

    <nz-spin [nzSpinning]="loading">
      <nz-card style="margin-top: 12px">
        <div style="display: flex; justify-content: center; margin-bottom: 12px">
          <nz-pagination [nzPageIndex]="pageIndex" [nzPageSize]="pageSize" [nzTotal]="total"
            [nzShowTotal]="rangeTemplate" (nzPageIndexChange)="pageIndexChange($event)">
          </nz-pagination>
        </div>
        <div nz-row [nzGutter]="16">
          <div *ngFor="let item of items" nz-col nzSpan="6" style="margin-bottom: 12px">
            <nz-card style="width:250px;" [nzTitle]="item.notifyShowTitle" [nzExtra]="extraTemplate">
              <p nz-typography nzEllipsis [nzEllipsisRows]="2" nzCopyable [nzContent]="resolveDesc(item)">
              </p>

              <div style="display: flex;justify-content: space-between;align-items: center;">
                <linkable [href]="resolveHref(item)" [content]="defaultLogo">
                </linkable>
                <span *ngIf="item.timerOnce" title="一次性通知" nz-icon nzType="minus-circle" [nzTheme]="'twotone'"
                  [nzTwotoneColor]="'#eb2f96'" style="transform: rotate(90deg);"></span>
                <created-at [createdAt]="item.createdAt"></created-at>
              </div>
            </nz-card>
            <ng-template #extraTemplate>
              <button nz-button nzType="primary" (click)="confirmSelect(item)">选择</button>
            </ng-template>

            <ng-template #defaultLogo>
              <image-view [width]="32" [name]="item?.logo"></image-view>
            </ng-template>
          </div>

          <ng-container *ngIf="items.length === 0">
            <div style="width: 100%; display: flex; justify-content: center;">
              <nz-empty></nz-empty>
            </div>
          </ng-container>
        </div>

        <div style="display: flex; justify-content: center;">
          <nz-pagination [nzPageIndex]="pageIndex" [nzPageSize]="pageSize" [nzTotal]="total"
            [nzShowTotal]="rangeTemplate" (nzPageIndexChange)="pageIndexChange($event)">
          </nz-pagination>
        </div>
        <ng-template #rangeTemplate let-range="range" let-total>
          {{ range[0] }}-{{ range[1] }} of {{ total }} items
        </ng-template>
      </nz-card>
    </nz-spin>
  </ng-container>
</nz-modal>

<style>
  .selected-list {
    width: 500px;
    max-width: 100%;
    border: solid 1px #ccc;
    min-height: 60px;
    display: block;
    background: white;
    border-radius: 4px;
    overflow: hidden;
  }

  .selected-item {
    position: relative;
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }

  .selected-item-delete {
    position: absolute;
    right: 4px;
    top: 2px;
  }

  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14),
      0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .selected-item:last-child {
    border: none;
  }

  .selected-list.cdk-drop-list-dragging .selected-item:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .example-custom-placeholder {
    background: #ccc;
    border: dotted 3px #999;
    min-height: 60px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
</style>