<div class="notify-history-container" style="position:fixed; top: 24px; right: 184px; z-index: 100">
  <button nz-button nzType="primary" nzShape="circle" (click)="open()" [title]="'通知历史'">
    <i nz-icon [nzType]="'bell'" nzTheme="outline"></i>
  </button>
  <nz-drawer [nzClosable]="false" [nzWidth]="450" [nzVisible]="visible" nzPlacement="right" nzTitle="通知历史"
    (nzOnClose)="close()">
    <ng-container *nzDrawerContent>
      <div class="notify-history-list-container">
        <nz-card style="margin-bottom: 12px;">
          <form nz-form [formGroup]="form" (ngSubmit)="submitForm()">
            <div nz-row>
              <div nz-col [nzSpan]="24">
                <nz-form-item>
                  <nz-form-label [nzSpan]="5" nzFor="title">标题</nz-form-label>
                  <nz-form-control [nzSpan]="19">
                    <input nz-input class="ant-input" placeholder="请输入标题" formControlName="title" [attr.id]="'title'" />
                  </nz-form-control>
                </nz-form-item>
              </div>

            </div>

            <div nz-row>
              <div nz-col [nzSpan]="24">
                <nz-form-item>
                  <nz-form-label [nzSpan]="5" nzFor="sourceType">来源类型</nz-form-label>
                  <nz-form-control [nzSpan]="19">
                    <nz-select [attr.id]="'sourceType'" formControlName="type">
                      <nz-option *ngFor="let item of types" [nzValue]="item.value" [nzLabel]="item.label">
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>

            <div nz-row>
              <div nz-col [nzSpan]="24">
                <nz-form-item>
                  <nz-form-label nzFor="hasRead">周期</nz-form-label>
                  <nz-form-control>
                    <nz-radio-group formControlName="hasRead" nzButtonStyle="solid">
                      <label nz-radio-button *ngFor="let item of readStatuses"
                        [nzValue]="item.value">{{item.label}}</label>
                    </nz-radio-group>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>


            <div nz-row>
              <div nz-col [nzSpan]="24">
                <nz-form-item nz-row class="register-area">
                  <nz-form-control [nzSpan]="14" [nzOffset]="6">
                    <button nz-button [nzType]="'primary'">搜索</button>
                    <button nz-button type="button" (click)="resetForm()" style="margin-left: 12px">重置</button>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          </form>
        </nz-card>

        <nz-pagination [nzPageIndex]="pageIndex" [nzPageSize]="pageSize" [nzTotal]="totalCount"
          [nzShowTotal]="rangeTemplate" (nzPageIndexChange)="pageIndexChange($event)" style="margin-bottom: 12px;">
        </nz-pagination>



        <ng-container *ngFor="let item of items">

          <nz-ribbon [nzText]="item.hasRead ? '已读' : 'New'" [nzColor]="item.hasRead ? '#eee' : 'pink'">
            <nz-card [ngStyle]="{width: '380px', marginBottom: '12px', color: item.hasRead ? '#eee' : ''}"
              [nzTitle]="item.title" [nzExtra]="extraTemplate">
              <div style="position: relative;">
                <p [innerHtml]="item.desc"></p>
                <p style="position: absolute; right: 12px;">
                  <span>添加时间：</span>
                  <created-at [createdAt]="item.createdAt"></created-at>
                </p>
                <p>
                  <linkable *ngIf="item.link" [href]="item.link"
                    [content]="item.type === 'MEDIUM' ? mediumLogo: mirrorLogo">
                  </linkable>
                </p>

                <ng-template #mediumLogo>
                  <medium-logo></medium-logo>
                </ng-template>
                <ng-template #mirrorLogo>
                  <mirror-logo></mirror-logo>
                </ng-template>
              </div>

              <ng-template #extraTemplate>
                <button *ngIf="!item.hasRead" nz-button nzType="primary" nzSize="small" nzShape="circle" nz-popconfirm
                  nzPopconfirmTitle="确认标记已读?" nzPopconfirmPlacement="bottom" (nzOnConfirm)="markRead(item)"><span
                    nz-icon nzType="eye"></span></button>
              </ng-template>
            </nz-card>
          </nz-ribbon>

        </ng-container>

        <ng-container *ngIf="items.length === 0">
          <nz-empty></nz-empty>
        </ng-container>

        <nz-pagination [nzPageIndex]="pageIndex" [nzPageSize]="pageSize" [nzTotal]="totalCount"
          [nzShowTotal]="rangeTemplate" (nzPageIndexChange)="pageIndexChange($event)">
        </nz-pagination>
        <ng-template #rangeTemplate let-range="range" let-total>
          {{ range[0] }}-{{ range[1] }} of {{ total }} items
        </ng-template>
      </div>


    </ng-container>
  </nz-drawer>
</div>