<div class="fund-raise-container">
  <nz-card>
    <form nz-form [formGroup]="form" (ngSubmit)="submitForm()">
      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-label [nzSpan]="10" nzFor="interval">周期</nz-form-label>
            <nz-form-control [nzSpan]="14">
              <nz-select name="interval" [attr.id]="'interval'" formControlName="interval">
                <nz-option *ngFor="let investor of intervals" [nzValue]="investor.name" [nzLabel]="investor.name">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-label [nzSpan]="10" nzFor="name">名称</nz-form-label>
            <nz-form-control [nzSpan]="14">
              <input nz-input class="ant-input" placeholder="请输入名称" formControlName="name" [attr.id]="'name'" />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>


      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="24">
          <nz-form-item nz-row class="register-area">
            <nz-form-control [nzSpan]="14" [nzOffset]="6">
              <button nz-button [nzType]="'primary'">搜索</button>
              <button nz-button type="button" (click)="resetForm()" style="margin-left: 12px">重置</button>
            </nz-form-control>
          </nz-form-item>
        </div>

      </div>

    </form>
  </nz-card>

  <button nz-button [nzType]="'primary'" (click)="showLucky()" style="margin-top: 12px;" nz-tooltip
    [nzTooltipTitle]="'获取交易量放大且均线密集的标的所有数据（包括最新和历史）'">
    运气不错
  </button>
  <span nz-icon nzType="flag" nzTheme="outline"
    [ngStyle]="{color: extraQuery['volumeMultiple'] ? 'red' : '#333', marginLeft: '12px'}"></span>

  <nz-card style="margin-top: 12px">
    <nz-table nzShowSizeChanger [nzData]="cexTokenDailies" [nzFrontPagination]="false" [nzLoading]="loading"
      [nzTotal]="total" [nzShowTotal]="rangeTemplate" [nzPageSize]="pageSize" [nzPageIndex]="pageIndex"
      (nzQueryParams)="onQueryParamsChange($event)">
      <thead>
        <tr>
          <th nzColumnKey="name">名称</th>
          <th nzColumnKey="price" [nzSortFn]="true" [nzSortDirections]="['descend', 'ascend', null]">价格</th>
          <th nzColumnKey="volume" [nzSortFn]="true" [nzSortDirections]="['descend', 'ascend', null]">交易量</th>

          <th nzColumnKey="priceChange">price delta 60</th>
          <th nzColumnKey="volumeMultiple" [nzSortFn]="true" [nzSortDirections]="['descend', 'ascend', null]">volume
            delta 60</th>

          <th nzColumnKey="emaCompressionRelative" [nzSortFn]="true" [nzSortDirections]="['descend', 'ascend', null]">
            均线密集度</th>
          <th nzColumnKey="closeDeltaEma">C/S - S/M - M/L</th>

          <th nzColumnKey="timeStr" [nzSortFn]="true" [nzSortDirections]="['descend', 'ascend', null]">周期时间</th>
          <th nzColumnKey="createdAtStr" [nzSortFn]="true" [nzSortDirections]="['descend', 'ascend', null]">添加时间</th>

          <th nzColumnKey="Action">操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of cexTokenDailies">
          <td [title]="data.symbol + ' - ' + data.fullname">
            <span class="token-name" style="font-weight: bold">{{data.name}}</span>
          </td>
          <td [title]="data.price | currency">{{ data.price | currency }}</td>
          <td [title]="data.volume | currency">{{ data.volume | currency }}</td>

          <td [ngStyle]="genTdStyle()">
            <small-chart [data]="data.prices60Interval"></small-chart>
          </td>

          <td style="position: relative">
            <small-chart [data]="data.volumes60Interval" type="bar"></small-chart>
            <nz-tag *ngIf="data.volumeMultiple >= 3; else normalVolume" nzColor="error" nz-tooltip
              [nzTooltipTitle]="'相对于' + data.volumeIntervals + '周期平均交易量倍数'" style="position: absolute;
              top: 10px;">{{data.volumeMultiple |
              percent}}</nz-tag>

            <ng-template #normalVolume>
              <nz-tag nzColor="default" nz-tooltip [nzTooltipTitle]="'相对于' + data.volumeIntervals + '周期平均交易量倍数'" style="position: absolute;
              top: 10px;">
                {{data.volumeMultiple | percent}}</nz-tag>
            </ng-template>
          </td>


          <td>
            <nz-tag *ngIf="data.emaCompressionRelative >= 0.9; else normalEmaCompressionRelative" nzColor="error"
              nz-tooltip [nzTooltipTitle]="'越大表示越密集; 一般认为90%以上表示密集'">{{(data.emaCompressionRelative) |
              percent}}</nz-tag>

            <ng-template #normalEmaCompressionRelative>
              <nz-tag nzColor="default" nz-tooltip [nzTooltipTitle]="'越大表示越密集; 一般认为90%以上表示密集'">
                {{(data.emaCompressionRelative) | percent}}</nz-tag>
            </ng-template>
          </td>

          <td [ngStyle]="genTdStyle()">
            <div style="display: flex; justify-content: center; align-items: center">
              <div [ngStyle]="genDataStyle(data.closeDeltaEma21)">{{data.closeDeltaEma21 | percent}}</div>
              <div [ngStyle]="genDataStyle(data.ema21DeltaEma55)">{{data.ema21DeltaEma55 | percent}}</div>
              <div [ngStyle]="genDataStyle(data.ema55DeltaEma144)">{{data.ema55DeltaEma144 | percent}}</div>
            </div>
          </td>

          <td>{{data.time | date:'MM/dd HH:mm'}}</td>
          <td>{{data.createdAt | date:'HH:mm:ss'}}</td>

          <td>
            <linkable [title]="'TradingView ' + data.symbol" icon="line-height"
              [href]="'https://cn.tradingview.com/chart/Krvl8xc0/?symbol=BINANCE:' + data.symbol">
            </linkable>

            <linkable [title]="'Binance ' + data.symbol" icon="bold"
              [href]="'https://www.binance.com/zh-CN/trade/' + data.symbol" style="margin-left: 6px">
            </linkable>

            <linkable *ngIf="data.slug" [title]="'CMC ' + data.symbol" icon="copyright-circle"
              [href]="'https://coinmarketcap.com/currencies/' + data.slug" style="margin-left: 6px">
            </linkable>
          </td>
        </tr>
      </tbody>
    </nz-table>

    <ng-template #rangeTemplate let-range="range" let-total>
      {{ range[0] }}-{{ range[1] }} of {{ total }} items
    </ng-template>
  </nz-card>
</div>