<div class="create-project-tracking-record-container">
  <form nz-form [formGroup]="form">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="title" nzRequired nzTooltipTitle="标题">
        <span>标题</span>
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input title!">
        <input nz-input class="ant-input" id="title" formControlName="title" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="description" nzTooltipTitle="描述">
        <span>描述</span>
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <textarea nz-input class="ant-input" id="description" formControlName="description"></textarea>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="followedProjectID" nzTooltipTitle="关注项目">
        <span>关注项目</span>
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <followed-project-select formControlName="followedProjectID"></followed-project-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="link" nzTooltipTitle="链接">
        <span>链接</span>
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input class="ant-input" id="link" formControlName="link" />
      </nz-form-control>
    </nz-form-item>

  </form>

</div>