<div class="tag-overview-container">
  <nz-card>
    <form nz-form [formGroup]="form" (ngSubmit)="submitForm()" [nzLayout]="'inline'">

      <nz-form-item>
        <nz-form-label nzFor="interval">周期</nz-form-label>
        <nz-form-control>
          <nz-radio-group formControlName="interval">
            <label nz-radio-button *ngFor="let item of intervals" [nzValue]="item.name">{{item.name}}</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzFor="latestIntervals">倒数第几个周期({{intervalTime$ | async | date:'MM-dd HH:mm'}})</nz-form-label>
        <nz-form-control>
          <nz-input-number formControlName="latestIntervals" [attr.id]="'latestIntervals'" [nzMin]="1" [nzStep]="1">
          </nz-input-number>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item class="search-area">
        <nz-form-control>
          <button nz-button [nzType]="'primary'">搜索</button>
          <button nz-button type="button" (click)="resetForm()" style="margin-left: 12px">重置</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-card>

  <div class="tag-overview-content" style="margin-top: 12px">
    <nz-spin [nzSpinning]="loading"></nz-spin>
    <div nz-row>
      <div nz-col nzSpan="6" *ngFor="let item of tagDailyItems"
        style="display: flex; justify-content: center; align-items: center;">
        <nz-spin [nzSpinning]="loading">
          <nz-card style="width:300px; margin-bottom: 8px" [nzTitle]="item.label">
            <div style="margin-bottom: 4px">总交易量: {{item.volume | currency}}</div>
            <div style="margin-bottom: 4px" [title]="'相对前 ' + item.volumeIntervals + ' 周期'">
              总交易量增幅:
              <nz-tag *ngIf="item.volumeMultiple >= 3; else normalVolume" nzColor="error">{{item.volumeMultiple |
                percent}}</nz-tag>

              <ng-template #normalVolume>
                <nz-tag nzColor="default">
                  {{item.volumeMultiple | percent}}</nz-tag>
              </ng-template>
            </div>
            <div style="margin-bottom: 4px" [title]="'共 ' + item.tokenNames.length + ' tokens'"
              *ngIf="item.volumePercents && item.volumePercents.length > 0">
              <span>交易量占比: </span>
              <div *ngFor="let p of item.volumePercents.slice(0, 3)" class="token-item"
                style="margin-bottom: 4px; font-size: 12px;">
                <span class="token-symbol" style="margin-right: 12px">{{p.token}}</span>
                <nz-tag *ngIf="p.percent >= 0.5; else normalTokenPercent" nzColor="error">{{p.percent |
                  percent}}</nz-tag>

                <ng-template #normalTokenPercent>
                  <nz-tag nzColor="default">
                    {{p.percent | percent}}</nz-tag>
                </ng-template>
              </div>
            </div>

            <small-chart [data]="item.volumes180Interval" type="bar" [width]="250" [height]="80" [showAxis]="false">
            </small-chart>
          </nz-card>
        </nz-spin>
      </div>
    </div>

  </div>
</div>