<div class="magpie-helper-container">
  <nz-card nzTitle="连接钱包">
    <nz-form-item>
      <nz-form-label nzFor="status">网络</nz-form-label>
      <nz-form-control>
        <nz-radio-group [formControl]="networkCtrl" nzButtonStyle="solid">
          <label
            nz-radio-button
            *ngFor="let chain of chains"
            [nzValue]="chain"
            >{{ chain }}</label
          >
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="register-area">
      <nz-form-control>
        <button
          nz-button
          [nzType]="'primary'"
          *ngFor="let wallet of wallets"
          (click)="connectWallet(wallet.name)"
          [nzLoading]="wallet.loading$ | async"
          style="margin-right: 12px"
        >
          连接 {{ wallet.name }}
        </button>
      </nz-form-control>
    </nz-form-item>

    <div *ngIf="walletService.address">
      <p>已连接: {{ walletService.address }}</p>
      <p>钱包类型: {{ walletService.connectedWallet }}</p>
      <button nz-button (click)="disconnectWallet()">断开连接</button>
    </div>
  </nz-card>

  <nz-card nzTitle="mwom/wom Swap" style="margin-top: 24px">
    <nz-collapse>
      <nz-collapse-panel [nzHeader]="'wom -> mwom 买入mwom'" [nzActive]="true">
        <wom-to-mwom-swap></wom-to-mwom-swap>
      </nz-collapse-panel>

      <nz-collapse-panel [nzHeader]="'mwom -> wom 卖出mwom'" [nzActive]="true">
        <mwom-to-wom-swap></mwom-to-wom-swap>
      </nz-collapse-panel>
    </nz-collapse>
  </nz-card>

  <nz-card nzTitle="mwom Deposit" style="margin-top: 24px">
    <mwom-deposit></mwom-deposit>
  </nz-card>

  <nz-card nzTitle="mwom Withdraw" style="margin-top: 24px">
    <mwom-withdraw></mwom-withdraw>
  </nz-card>
</div>
