<div class="tag-item-other-container" *ngIf="item && item.name !== tokenTagNameOfTotalMarket"
  style="display: flex; justify-content: center; align-items: center;">
  <nz-card style="width:300px; margin-bottom: 8px" [nzTitle]="item.label" [nzExtra]="extraTemplate">
    <div style="margin-bottom: 4px">总交易量: {{item.volume | currency}}</div>
    <div style="margin-bottom: 4px" [title]="'相对前 ' + item.volumeIntervals + ' 周期平均值'">
      总交易量变动:
      <nz-tag [nzColor]="item.volumeMultiple >= 3 ? 'error' : 'default'">
        {{item.volumeMultiple |
        percent}}</nz-tag>
    </div>
    <div style="margin-bottom: 4px" [title]="'共 ' + item.volumePercents.length + ' tokens'"
      *ngIf="item.volumePercents && item.volumePercents.length > 0">
      <span>交易量占比: </span>
      <div *ngFor="let p of item.volumePercents.slice(0, 3)" class="token-item"
        style="margin-bottom: 4px; font-size: 12px; display: flex; align-items: center;">
        <cex-token-symbol-item [symbol]="p.token" style="margin-right: 12px">
        </cex-token-symbol-item>
        <nz-tag [nzColor]="p.percent >= 0.5 ? 'error' : 'default'">{{p.percent |
          percent}}</nz-tag>
      </div>
    </div>

    <div style="margin-bottom: 4px" *ngIf="item.emaCompressions && item.emaCompressions.length > 0">
      <span>价格形态: </span>
      <span style="margin-left: 6px;">{{item.emaCompressions | emaCompressionsString}}</span>
    </div>

    <small-chart [data]="item.volumes180Interval" [title]="item.label + ' -- volume'" type="bar" [width]="250"
      [height]="80" [showAxis]="false" [interval]="item.interval" [time]="item.time">
    </small-chart>
  </nz-card>
</div>

<ng-template #extraTemplate>
  <button *ngIf="item" nz-button nzType="link" (click)="showVolumePercentRankingModal(item.name)">详情</button>
</ng-template>

<div nz-row class="tag-item-total-container" *ngIf="item && item.name === tokenTagNameOfTotalMarket"
  style="position: relative">
  <button nz-button nzType="link" (click)="showVolumePercentRankingModal(item.name)"
    style="position: absolute; right: 0; z-index: 10;">详情</button>

  <div nz-col nzSpan="12"
    style="display: flex;justify-content: space-evenly;flex-direction: column;font-size: 16px;font-weight: bold;">
    <div style="margin-bottom: 6px;">
      <span>总交易量: {{item.volume | currency}}</span>
      <span [title]="'相对前 ' + item.volumeIntervals + ' 周期平均值'" style="margin-right: 16px">
        总交易量变动:
        <nz-tag [nzColor]="item.volumeMultiple >= 3 ? 'error' : 'default'">
          {{item.volumeMultiple |
          percent}}</nz-tag>
      </span>
    </div>

    <div *ngIf="item.volumePercents && item.volumePercents.length > 0"
      style="margin-bottom: 6px; display: flex; align-items: center; flex-wrap: wrap;">
      <span [title]="'共 ' + item.volumePercents.length + ' tokens'">交易量占比: </span>
      <span *ngFor="let p of item.volumePercents.slice(0, 10)" class="token-item"
        style="font-size: 12px; display: flex; align-items: center;">
        <cex-token-symbol-item [symbol]="p.token" style="margin-right: 4px">
        </cex-token-symbol-item>
        <nz-tag [nzColor]="p.percent >= 0.5 ? 'error' : 'default'">{{p.percent |
          percent}}</nz-tag>
      </span>
    </div>

    <div style="margin-bottom: 6px" *ngIf="item.emaCompressions && item.emaCompressions.length > 0">
      <span>价格形态: </span>
      <span style="margin-left: 6px;">{{item.emaCompressions | emaCompressionsString}}</span>
    </div>
  </div>
  <div nz-col nzSpan="12" style="display: flex; justify-content: center; align-items: center;">
    <small-chart [data]="item.volumes180Interval" [title]="'全市场 volume'" type="bar" [width]="500" [height]="140"
      [showAxis]="false" [interval]="item.interval" [time]="item.time">
    </small-chart>
  </div>
</div>

<nz-modal [(nzVisible)]="showModal" [nzWidth]="1200" [nzTitle]="modalTitle" [nzFooter]="null"
  (nzOnCancel)="showModal=false">
  <ng-container *nzModalContent>

    <nz-collapse>
      <nz-collapse-panel [nzHeader]="'统计'" [nzActive]="true">
        <div class="charts-container" style="display: flex; justify-content: center; align-items: center;">
          <pie-chart [data]="prevPriceStatusChartData"></pie-chart>
          <pie-chart [data]="priceStatusChartData"></pie-chart>
        </div>

        <div class="stats-container">
          <nz-descriptions nzTitle="趋势转折统计" nzBordered [nzSize]="'small'" [nzColumn]="3">
            <nz-descriptions-item *ngFor="let item of descriptions" [nzTitle]="descItemTitle">
              <div style="display: flex; align-items: center; flex-wrap: wrap;">
                <cex-token-symbol-item *ngFor="let item of item.rankingItems.slice(0, 2)" [symbol]="item.symbol"
                  style="margin-right: 6px">
                </cex-token-symbol-item>
                <span>{{'共 ' + item.rankingItems.length}}</span>
              </div>

              <ng-template #descItemTitle>
                <td class="ant-descriptions-item-label" style="position: relative">
                  <span>{{item.title}}</span>
                  <nz-tag [nzColor]="item.color" style="position: absolute;right: 0;top: 0;">
                    {{item.label}}</nz-tag>
                </td>
              </ng-template>
            </nz-descriptions-item>
          </nz-descriptions>
        </div>
      </nz-collapse-panel>

      <nz-collapse-panel [nzHeader]="'列表'" [nzActive]="false">
        <div class="filter-container" style="margin: 12px 0;width: 50%;">
          <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton" [nzSuffix]="inputClearTpl">
            <input type="text" [formControl]="filterCtrl" (keyup.enter)="toFilter()" nz-input [nzAutocomplete]="auto"
              placeholder="symbol / 价格形态" />
          </nz-input-group>
          <nz-autocomplete #auto>
            <nz-auto-optgroup *ngFor="let group of filteredOptions" [nzLabel]="groupTitle">
              <ng-template #groupTitle>
                <span>
                  {{ group.label }}
                </span>
              </ng-template>
              <nz-auto-option *ngFor="let option of group.children" [nzLabel]="option.label" [nzValue]="option.value">
                {{ option.label }}
              </nz-auto-option>
            </nz-auto-optgroup>
          </nz-autocomplete>
          <ng-template #suffixIconButton>
            <button nz-button nzType="primary" nzSearch (click)="toFilter()"><span nz-icon
                nzType="search"></span></button>
          </ng-template>
          <ng-template #inputClearTpl>
            <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="filterCtrl.value"
              (click)="filterCtrl.patchValue('');toFilter()"></span>
          </ng-template>
        </div>
        <div class="modal-list-header">
          <span style="width: 20%">symbol</span>
          <span style="width: 20%">交易量</span>
          <span style="width: 20%">占比</span>
          <span style="width: 20%">排行异动</span>
          <span style="max-width: 20%">价格形态</span>
        </div>
        <nz-list nzBordered nzSize="small" style="max-height: 45vh;overflow: auto;">
          <nz-list-item *ngFor="let item of filteredRankingItems; let i = index;">
            <ranking-item [index]="i" [symbol]="item.symbol" [percent]="item.percent" [prevPercent]="item.prevPercent"
              [volume]="item.volume" [prevVolume]="item.prevVolume" [priceStatus]="item.priceStatus"
              [prevPriceStatus]="item.prevPriceStatus" [color]="item.color" [text]="item.text" style="width:100%">
            </ranking-item>
          </nz-list-item>
        </nz-list>
        <div class="modal-list-footer">
          <span style="width: 20%">{{'共 ' + filteredRankingItems.length}}</span>
          <span style="width: 20%">--</span>
          <span style="width: 20%">100%</span>
          <span style="width: 20%">{{modalListDescription}}</span>
          <span style="max-width: 20%">--</span>
        </div>
      </nz-collapse-panel>
    </nz-collapse>

  </ng-container>
</nz-modal>
<style>
  .modal-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(0, 0, 0, 0.85);
    padding: 8px 16px;
    border-top: 1px solid #d9d9d9;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    border-radius: 2px;
  }

  .modal-list-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(0, 0, 0, 0.85);
    padding: 8px 16px;
    border-bottom: 1px solid #d9d9d9;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    border-radius: 2px;
  }
</style>