<div class="statistics-chart-container">
  <div class="versions-container" style="margin-bottom: 16px;">
    <nz-radio-group [formControl]="versionCtrl" nzButtonStyle="solid">
      <label nz-radio-button *ngFor="let item of versions" [nzValue]="item.value">{{item.label}}</label>
    </nz-radio-group>
  </div>

  <div style="margin-bottom: 12px;">
    <nz-input-number-group nzAddOnBefore="最近" nzAddOnAfter="条数据">
      <nz-input-number [formControl]="numberCtrl" [nzStep]="1" [nzMin]="60" [nzMax]="360"></nz-input-number>
    </nz-input-number-group>
    <button nz-button nzType="primary" (click)="toSearch()">查询</button>

    <span style="margin: 0 0 0 12px;">最近更新：</span>
    <created-at [createdAt]="latestCreatedAt"></created-at>
  </div>

  <nz-spin nzTip="获取统计数据中..." [nzSpinning]="fetching">
    <div nz-row [nzGutter]="16" style="min-height: 240px;">
      <div nz-col class="gutter-row" [nzSpan]="12" *ngFor="let item of charts">
        <div class="inner-box">
          <div style="display: flex; justify-content: space-between; font-weight: bold; font-size: 18px;">
            {{item.label}}</div>
          <tradingview-chart [series]="item.series" [width]="370" [options]="chartOptions"></tradingview-chart>
        </div>
      </div>
    </div>
  </nz-spin>

</div>