<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="225px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a routerLink="/">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="市场" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/overview">概览</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/fund-raise">融资信息</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/project-statistics">项目统计</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/nft-marketplace">NFT市场</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>TBD</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="我的" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/my-notification">订阅通知</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/tracking-record">跟踪记录</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/followed-project">关注项目</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout class="right-layout" [ngStyle]="{marginLeft: isCollapsed ? '80px' : '225px'}">
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>

<network-checker></network-checker>
<btc-future-checker></btc-future-checker>
<toolkit></toolkit>
<notify-history-drawer></notify-history-drawer>