<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="225px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a routerLink="/">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="市场" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/fund-raise">融资信息</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/project-statistics">项目统计</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/nft-marketplace">NFT市场</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>TBD</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="我的" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/my-notification">订阅通知</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout class="right-layout" [ngStyle]="{marginLeft: isCollapsed ? '80px' : '225px'}">
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>

<nz-affix [nzOffsetTop]="offsetTop">
  <button nz-button nzType="primary" nzShape="circle" nz-dropdown [nzDropdownMenu]="menu" [nzPlacement]="'bottomLeft'"
    style="margin-right: 24px">
    <i nz-icon [nzType]="'global'" nzTheme="outline"></i>
  </button>

  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item>
        <nz-tag nzColor="default">
          <i nz-icon nzType="clock-circle"></i>
          <span>{{lastUpdateAtStr}}</span>
        </nz-tag>
      </li>
      <li nz-menu-item *ngFor="let item of connections">
        <ng-container *ngIf="item.status === 'success'">
          <nz-tag nzColor="success" nz-tooltip [nzTooltipTitle]="item.message">
            <i nz-icon nzType="check-circle"></i>
            <span>{{item.hostname}}</span>
          </nz-tag>
        </ng-container>
        <ng-container *ngIf="item.status === 'error'">
          <nz-tag nzColor="error" nz-tooltip [nzTooltipTitle]="item.message">
            <i nz-icon nzType="close-circle"></i>
            <span>{{item.hostname}}</span>
          </nz-tag>
        </ng-container>
        <ng-container *ngIf="item.status === 'loading'">
          <nz-tag nzColor="processing" nz-tooltip [nzTooltipTitle]="item.message">
            <i nz-icon nzType="sync" nzSpin></i>
            <span>{{item.hostname}}</span>
          </nz-tag>
        </ng-container>

      </li>
    </ul>
  </nz-dropdown-menu>
</nz-affix>