<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="225px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <a routerLink="/">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo" />
      </a>
    </div>
    <ul
      nz-menu
      nzTheme="dark"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed"
    >
      <li nz-submenu nzOpen nzTitle="市场" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/cex-token">现货市场</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/cex-future">合约市场</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/overview">市场明细</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/fund-raise">融资信息</a>
          </li>
          <!-- <li nz-menu-item nzMatchRouter>
            <a routerLink="/project-statistics">项目统计</a>
          </li> -->
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/nft-marketplace">NFT市场</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>TBD</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="我的" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/my-notify-observer-group">通知组</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/my-notification">订阅通知</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/tracking-record">跟踪记录</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/followed-project">关注项目</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/airdrop-job">空投任务</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/airdrop-account">空投账号</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/airdrop-interaction-record">交互记录</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout
    class="right-layout"
    [ngStyle]="{ marginLeft: isCollapsed ? '80px' : '225px' }"
  >
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <span
            class="trigger"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          ></span>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>

<!-- <btc-future-checker></btc-future-checker> -->
<toolkit></toolkit>
<notify-history-drawer></notify-history-drawer>

<task-record-modal [showChart]="true">
  <button
    nz-button
    nzType="primary"
    nzShape="circle"
    style="position: fixed; bottom: 120px; right: 24px; z-index: 100"
  >
    <span nz-icon nzType="pie-chart"></span>
  </button>
</task-record-modal>
<timer-notify-observer-modal></timer-notify-observer-modal>
<network-checker></network-checker>

<cex-token-list [content]="cexTokenListTemplate"> </cex-token-list>
<ng-template #cexTokenListTemplate>
  <button
    nz-button
    nzType="primary"
    nzShape="circle"
    [title]="'查看 现货详情'"
    style="position: fixed; top: 24px; right: 184px; z-index: 100"
  >
    <span>T</span>
  </button>
</ng-template>

<cex-future-list [content]="cexFutureListTemplate"> </cex-future-list>
<ng-template #cexFutureListTemplate>
  <button
    nz-button
    nzType="primary"
    nzShape="circle"
    [title]="'查看 合约详情'"
    style="position: fixed; top: 24px; right: 264px; z-index: 100"
  >
    <span>F</span>
  </button>
</ng-template>

<cex-token-price-change-statistics
  [content]="cexTokenPriceChangeStatisticsTemplate"
>
</cex-token-price-change-statistics>
<ng-template #cexTokenPriceChangeStatisticsTemplate>
  <button
    nz-button
    nzType="primary"
    nzShape="circle"
    [title]="'查看 涨跌幅统计'"
    style="position: fixed; top: 24px; right: 344px; z-index: 100"
  >
    <span nz-icon nzType="pie-chart" nzTheme="outline"></span>
  </button>
</ng-template>

<cmc-token-price-change-statistics
  [content]="cmcTokenPriceChangeStatisticsTemplate"
>
</cmc-token-price-change-statistics>
<ng-template #cmcTokenPriceChangeStatisticsTemplate>
  <button
    nz-button
    nzType="primary"
    nzShape="circle"
    [title]="'查看 CMC Token 涨跌幅统计'"
    style="position: fixed; top: 24px; right: 424px; z-index: 100"
  >
    <span nz-icon nzType="line-chart" nzTheme="outline"></span>
  </button>
</ng-template>
