<div class="create-twitter-space-notify-observer-container">
  <form nz-form [formGroup]="data">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="twitterSpaceHomeLink" nzTooltipTitle="twitter space 主页链接">
        <span>twitter space 主页链接</span>
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input class="ant-input" id="twitterSpaceHomeLink" formControlName="twitterSpaceHomeLink" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="twitterSpaceTitleKey" nzTooltipTitle="如填写，则匹配该关键字，多个关键字可用英文逗号(,)分开">
        <span>标题关键字</span>
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <textarea nz-input class="ant-input" id="twitterSpaceTitleKey"
          formControlName="twitterSpaceTitleKey"></textarea>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>