<div class="fund-raise-container">
  <nz-card>
    <form nz-form [formGroup]="form" (ngSubmit)="submitForm()">
      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-label [nzSpan]="10" nzFor="notifyShowTitle">通知标题</nz-form-label>
            <nz-form-control [nzSpan]="14">
              <input nz-input class="ant-input" placeholder="请输入通知标题" formControlName="notifyShowTitle"
                [attr.id]="'notifyShowTitle'" />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-label [nzSpan]="10" nzFor="enableTracking">每日统计</nz-form-label>
            <nz-form-control [nzSpan]="14">
              <nz-switch formControlName="enableTracking"></nz-switch>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-label [nzSpan]="10" nzFor="sourceType">来源类型</nz-form-label>
            <nz-form-control [nzSpan]="14">
              <nz-select [attr.id]="'sourceType'" formControlName="type">
                <nz-option *ngFor="let item of types" [nzValue]="item.value" [nzLabel]="item.label">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>

      </div>


      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="24">
          <nz-form-item nz-row class="register-area">
            <nz-form-control [nzSpan]="14" [nzOffset]="6">
              <button nz-button [nzType]="'primary'">搜索</button>
              <button nz-button type="button" (click)="resetForm()" style="margin-left: 12px">重置</button>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
  </nz-card>

  <button nz-button [nzType]="'primary'" (click)="showCreateModal()" style="margin-top: 12px;">
    添加订阅源
  </button>

  <nz-spin [nzSpinning]="loading">
    <nz-card style="margin-top: 12px">
      <div style="display: flex; justify-content: center; margin-bottom: 12px">
        <nz-pagination [nzPageIndex]="pageIndex" [nzPageSize]="pageSize" [nzTotal]="total" [nzShowTotal]="rangeTemplate"
          (nzPageIndexChange)="pageIndexChange($event)">
        </nz-pagination>
      </div>
      <div nz-row [nzGutter]="16">
        <div *ngFor="let item of items" nz-col nzSpan="6" style="margin-bottom: 12px">
          <nz-card style="width:320px;" [nzTitle]="item.notifyShowTitle || '【默认通知标题】'" [nzExtra]="extraTemplate">
            <p>
              <nz-tag *ngIf="item.enableTracking; else disableTrackingTpl" nzColor="success">
                <i nz-icon nzType="check-circle"></i>
                <span>已开启</span>
              </nz-tag>
              <ng-template #disableTrackingTpl>
                <nz-tag nzColor="warning">
                  <i nz-icon nzType="exclamation-circle"></i>
                  <span>未开启</span>
                </nz-tag>
              </ng-template>
              <nz-switch [formControl]="item.enableTrackingCtrl"></nz-switch>

              <span style="margin-left: 12px"
                *ngIf="isMedium(item.type) && item.mediumTitleKey">{{item.mediumTitleKey}}</span>
              <span style="margin-left: 12px"
                *ngIf="isMirror(item.type) && item.mirrorTitleKey">{{item.mirrorTitleKey}}</span>
              <span style="margin-left: 12px"
                *ngIf="isTwitter(item.type) && item.twitterTitleKey">{{item.twitterTitleKey}}</span>
            </p>


            <div style="display: flex;justify-content: space-between;align-items: center;">
              <linkable *ngIf="isMedium(item.type)" [href]="item.mediumHomeLink || ''" [content]="mediumLogo">
              </linkable>
              <linkable *ngIf="isMirror(item.type)" [href]="item.mirrorHomeLink || ''" [content]="mirrorLogo">
              </linkable>
              <linkable *ngIf="isTwitter(item.type)" [href]="item.twitterHomeLink || ''" [content]="twitterLogo">
              </linkable>
              <created-at [createdAt]="item.createdAt"></created-at>
            </div>
            <ng-template #mediumLogo>
              <medium-logo></medium-logo>
            </ng-template>
            <ng-template #mirrorLogo>
              <mirror-logo></mirror-logo>
            </ng-template>
            <ng-template #twitterLogo>
              <twitter-logo></twitter-logo>
            </ng-template>
          </nz-card>
          <ng-template #extraTemplate>
            <button nz-button nzType="primary" nzShape="circle" (click)="confirmUpdate(item)"><span nz-icon
                nzType="edit"></span></button>

            <button style="margin-left: 6px" nz-button nzType="primary" nzDanger nzShape="circle" nz-popconfirm
              nzPopconfirmTitle="确认删除该订阅源?" nzPopconfirmPlacement="bottom" (nzOnConfirm)="confirmDelete(item)"
              (nzOnCancel)="cancelDelete(item)"><span nz-icon nzType="delete"></span></button>
          </ng-template>
        </div>

        <ng-container *ngIf="items.length === 0">
          <div style="width: 100%; display: flex; justify-content: center;">
            <nz-empty></nz-empty>
          </div>
        </ng-container>
      </div>

      <div style="display: flex; justify-content: center;">
        <nz-pagination [nzPageIndex]="pageIndex" [nzPageSize]="pageSize" [nzTotal]="total" [nzShowTotal]="rangeTemplate"
          (nzPageIndexChange)="pageIndexChange($event)">
        </nz-pagination>
      </div>
      <ng-template #rangeTemplate let-range="range" let-total>
        {{ range[0] }}-{{ range[1] }} of {{ total }} items
      </ng-template>
    </nz-card>
  </nz-spin>
</div>