:host ::ng-deep {
  nz-divider {
    color: #333;
    font-weight: normal;
  }

  .base-info-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    .project-desc-container {
      margin-left: 16px;
    }
  }
}
