<div class="followed-project-detail-container">
  <div nz-row [nzGutter]="16">
    <div nz-col class="gutter-row" [nzSpan]="18">

      <nz-spin [nzSpinning]="loadingFollowedProject">
        <nz-card style="width:100%" nzTitle="基本信息">
          <div class="base-info-container">
            <div class="project-logo-container">
              <svg width="64" height="64" xmlns="http://www.w3.org/2000/svg">
                <image *ngIf="followedProjectDetail && followedProjectDetail.logo"
                  [attr.href]="logoBasePath + followedProjectDetail.logo" width="64" height="64" />
              </svg>
            </div>
            <div class="project-desc-container">
              <h2>{{followedProjectDetail?.name}}</h2>


              <div *ngIf="followedProjectDetail" class="followed-project-tags">
                <tag-select mode="view" [formControl]="followedProjectDetail.tagIDsCtrl"></tag-select>

                <nz-tag
                  [nzColor]="followedProjectDetail.hasLaunchToken ? 'default' : 'success'">{{followedProjectDetail.hasLaunchToken
                  ? '已发币' :
                  '未发币'}}</nz-tag>

                <div class="followed-project-links">
                  <linkable *ngIf="followedProjectDetail.website" [href]="followedProjectDetail.website"
                    [content]="websiteLogo" style="margin-right: 12px">
                  </linkable>
                  <linkable *ngIf="followedProjectDetail.twitterHomeLink" [href]="followedProjectDetail.twitterHomeLink"
                    [content]="twitterLogo" style="margin-right: 12px">
                  </linkable>
                  <linkable *ngIf="followedProjectDetail.mediumHomeLink" [href]="followedProjectDetail.mediumHomeLink"
                    [content]="mediumLogo" style="margin-right: 12px">
                  </linkable>
                  <linkable *ngIf="followedProjectDetail.mirrorHomeLink" [href]="followedProjectDetail.mirrorHomeLink"
                    [content]="mirrorLogo" style="margin-right: 12px">
                  </linkable>
                  <linkable *ngIf="followedProjectDetail.youtubeHomeLink" [href]="followedProjectDetail.youtubeHomeLink"
                    [content]="youtubeLogo" style="margin-right: 12px">
                  </linkable>
                  <linkable *ngIf="followedProjectDetail.discordHomeLink" [href]="followedProjectDetail.discordHomeLink"
                    [content]="discordLogo" style="margin-right: 12px">
                  </linkable>
                  <linkable *ngIf="followedProjectDetail.telegramHomeLink"
                    [href]="followedProjectDetail.telegramHomeLink" [content]="telegramLogo" style="margin-right: 12px">
                  </linkable>
                </div>

                <created-at [createdAt]="followedProjectDetail.createdAt"></created-at>

                <ng-template #websiteLogo>
                  <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg">
                    <image [attr.href]="'/assets/website-logo.svg'" width="24" height="24" />
                  </svg>
                </ng-template>
                <ng-template #twitterLogo>
                  <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg">
                    <image [attr.href]="'/assets/twitter-logo.svg'" width="24" height="24" />
                  </svg>
                </ng-template>
                <ng-template #mediumLogo>
                  <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg">
                    <image [attr.href]="'/assets/medium-logo.svg'" width="24" height="24" />
                  </svg>
                </ng-template>

                <ng-template #mirrorLogo>
                  <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg">
                    <image [attr.href]="'/assets/mirror-logo.svg'" width="24" height="24" />
                  </svg>
                </ng-template>
                <ng-template #youtubeLogo>
                  <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg">
                    <image [attr.href]="'/assets/youtube-logo.svg'" width="24" height="24" />
                  </svg>
                </ng-template>
                <ng-template #discordLogo>
                  <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg">
                    <image [attr.href]="'/assets/discord-logo.svg'" width="24" height="24" />
                  </svg>
                </ng-template>
                <ng-template #telegramLogo>
                  <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg">
                    <image [attr.href]="'/assets/telegram-logo.svg'" width="24" height="24" />
                  </svg>
                </ng-template>
              </div>
            </div>
          </div>
        </nz-card>
      </nz-spin>

      <nz-spin [nzSpinning]="loadingNotifyObservers">
        <nz-card style="width: 100%; margin-top: 12px" nzTitle="订阅源">
          <div class="notify-observer-container">
            <div class="create-notify-observer-container">
              <button nz-button [nzType]="'primary'" (click)="showCreateNotifyObserverModal()"
                style="margin-top: 12px;">
                添加订阅源
              </button>
            </div>
            <div class="notify-observer-list-container" style="margin-top: 12px">

              <div nz-row [nzGutter]="16">
                <div *ngFor="let item of notifyObservers" nz-col nzSpan="6" style="margin-bottom: 12px">
                  <notify-observer-item [width]="270" [item]="item" (update)="confirmUpdate(item)"
                    (delete)="confirmDelete(item)"></notify-observer-item>
                </div>

                <ng-container *ngIf="notifyObservers.length === 0">
                  <div style="width: 100%; display: flex; justify-content: center;">
                    <nz-empty></nz-empty>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </nz-card>
      </nz-spin>

      <nz-card style="width: 100%; margin-top: 12px" nzTitle="跟踪记录">
        <app-tracking-record-list [followedProjectID]="followedProjectID"></app-tracking-record-list>
      </nz-card>

    </div>
    <div nz-col class="gutter-row" [nzSpan]="6">
      <notify-history-list [condition]="{followedProjectID: followedProjectID}"></notify-history-list>
    </div>
  </div>
</div>