<div class="airdrop-account-item-container">
  <nz-badge *ngIf="item">
    <nz-card style="width:320px;" [nzTitle]="item.name" [nzExtra]="extraTemplate">
      <div style="display: flex;justify-content: space-between;align-items: center;">
        <image-view [width]="64" [name]="item.logo"></image-view>
        <created-at [createdAt]="item.createdAt"></created-at>

        <linkable [href]="projectDetailHref(item._id)" icon="export" shape="round" size="small" [title]="'详情'">
        </linkable>
      </div>
      <div class="airdrop-account-remark" style="margin-top: 8px">
        <p nz-typography nzEllipsis [title]="item.remark || '【无】'">
          {{item.remark || '【无】'}}
        </p>
      </div>
      <div class="airdrop-account-more"
        style="display: flex;align-items: center;justify-content: space-between;margin-top: 8px">
        <span *ngIf="item.evmWalletAddress" nz-typography nzCopyable [nzCopyText]="item.evmWalletAddress"
          [nzCopyTooltips]="['复制EVM地址', '复制EVM地址成功']">
          {{item.evmWalletAddress | blockchainAddressString:4}}
        </span>
        <span *ngIf="item.solWalletAddress" nz-typography nzCopyable [nzCopyText]="item.solWalletAddress"
          [nzCopyTooltips]="['复制Sol地址', '复制Sol地址成功']">
          {{item.solWalletAddress | blockchainAddressString:4}}
        </span>
        <button nz-button nzType="primary" nzSize="small" nzShape="circle" nz-popover
          [nzPopoverContent]="contentTemplate">
          <span nz-icon nzType="more" nzTheme="outline"></span>
        </button>
        <ng-template #contentTemplate>
          <nz-card>
            <button nz-button nzType="primary" (click)="showManageAirdropAccount()">管理空投任务</button>
            <button style="margin-left: 8px;" nz-button nzType="primary"
              (click)="showManageAirdropInteractionRecord()">管理交互记录</button>
          </nz-card>
          <!-- <airdrop-account-more [id]="item._id"></airdrop-account-more> -->
        </ng-template>
      </div>

    </nz-card>
    <ng-template #extraTemplate>
      <button *ngIf="showUpdate" nz-button nzType="primary" nzShape="circle" (click)="confirmUpdate(item)"><span nz-icon
          nzType="edit"></span></button>

      <button *ngIf="showDelete" style="margin-left: 6px" nz-button nzType="primary" nzDanger nzShape="circle"
        nz-popconfirm nzPopconfirmTitle="确认删除?" nzPopconfirmPlacement="bottom" (nzOnConfirm)="confirmDelete(item)">
        <span nz-icon nzType="delete"></span>
      </button>
    </ng-template>
  </nz-badge>
</div>

<nz-modal [(nzVisible)]="manageAttendJobModalVisible" [nzWidth]="1400" [nzTitle]="'【'+ (item?.name) + '】 参加的任务'"
  [nzFooter]="null" (nzOnCancel)="manageAttendJobModalVisible = false">
  <ng-container *nzModalContent>

    <nz-card>
      <airdrop-account-attend-job-manager-for-account
        [airdropAccountID]="airdropAccountID"></airdrop-account-attend-job-manager-for-account>
    </nz-card>
  </ng-container>
</nz-modal>


<nz-modal [(nzVisible)]="manageAirdropInteractionRecordModalVisible" [nzWidth]="1400"
  [nzTitle]="'【' + (item?.name) + '】 的交互记录'" [nzFooter]="null"
  (nzOnCancel)="manageAirdropInteractionRecordModalVisible = false">
  <ng-container *nzModalContent>
    <nz-card>
      <airdrop-interaction-record-manager [airdropAccountID]="airdropAccountID"></airdrop-interaction-record-manager>
    </nz-card>
  </ng-container>
</nz-modal>