<div class="cex-future-item-slug-container" (click)="open()">
  <ng-container *ngIf="content" [ngTemplateOutlet]="content"></ng-container>
  <ng-container *ngIf="!content">
    <button nz-button nzType="primary" [title]="'Future Slug'">Slug</button>
  </ng-container>
</div>

<ng-template #tplTitle>
  <div style="display: flex; align-items: center">
    <cex-future-symbol-item
      style="margin-left: 12px"
      [symbol]="symbol"
    ></cex-future-symbol-item>
    <span style="margin-left: 12px">{{ " Slug " }}</span>
  </div>
</ng-template>

<nz-modal
  [(nzVisible)]="futureDetailModalVisible"
  [nzTitle]="tplTitle"
  [nzWidth]="400"
  (nzOnCancel)="futureDetailModalVisible = false"
  (nzOnOk)="ensure()"
>
  <ng-container *nzModalContent>
    <nz-card style="margin-top: 12px">
      <nz-form-item>
        <nz-form-label style="margin-bottom: 6px">
          <span>slug</span>
        </nz-form-label>
        <nz-form-control>
          <input nz-input [formControl]="slugCtrl" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label style="margin-bottom: 6px">
          <span>openInterestMultiple</span>
        </nz-form-label>

        <nz-form-control>
          <nz-input-number
            [formControl]="openInterestMultipleCtrl"
            [nzMin]="1"
            [nzStep]="1"
          ></nz-input-number>
        </nz-form-control>
      </nz-form-item>
    </nz-card>
  </ng-container>
</nz-modal>
