<a *ngIf="validHref; else invalidHref" class="linkable-container" [href]="href" [title]="title || href" target="_blank"
  style="cursor:pointer">
  <ng-container *ngIf="content" [ngTemplateOutlet]="content" [ngTemplateOutletContext]="templateContext"></ng-container>
  <ng-container *ngIf="!content">
    <button nz-button nzType="primary" [nzSize]="size" [nzShape]="shape">
      <i nz-icon [nzType]="icon" nzTheme="outline"></i>
    </button>
  </ng-container>
</a>
<ng-template #invalidHref>
  <span class="linkable-container invalid-href" [title]="title || '无'">
    <ng-container *ngIf="content" [ngTemplateOutlet]="content" [ngTemplateOutletContext]="templateContext">
    </ng-container>
    <ng-container *ngIf="!content">
      <button nz-button [nzSize]="size" [nzShape]="shape">
        <i nz-icon nzType="exclamation" nzTheme="outline"></i>
      </button>
    </ng-container>
  </span>
</ng-template>