<div class="create-price-change-notify-observer-container">
  <form nz-form [formGroup]="data">
    <nz-alert
      nzType="warning"
      [nzMessage]="alertMessage"
      style="margin: 12px 0"
    ></nz-alert>

    <nz-form-item>
      <nz-form-label
        [nzSm]="6"
        [nzXs]="24"
        nzRequired
        nzTooltipTitle="标的symbol"
      >
        <span>标的symbol</span>
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <app-cex-token-search-input
          formControlName="priceChangeCexTokenSymbol"
        ></app-cex-token-search-input>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label
        [nzSm]="6"
        [nzXs]="24"
        nzRequired
        nzFor="priceChangeType"
        nzTooltipTitle="价格类型"
      >
        <span>价格类型</span>
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-radio-group formControlName="priceChangeType" nzButtonStyle="solid">
          <label
            nz-radio-button
            *ngFor="let item of priceChangeTypes"
            [nzValue]="item.value"
            >{{ item.label }}</label
          >
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label
        [nzSm]="6"
        [nzXs]="24"
        nzTooltipTitle="价格类型为 价格涨到/跌到 时必填"
      >
        <span>价格涨到/跌到的数值</span>
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <app-multi-input formControlName="priceChangeToValue"></app-multi-input>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label
        [nzSm]="6"
        [nzXs]="24"
        nzTooltipTitle="价格类型为 价格涨到新高/跌到新低 时必填"
      >
        <span>新高/新低的周期天数</span>
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <app-multi-input formControlName="priceChangeInDays"></app-multi-input>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label
        [nzSm]="6"
        [nzXs]="24"
        nzTooltipTitle="价格类型为 价格涨幅/跌幅 时必填，与涨跌幅数值一一对应"
      >
        <span>价格涨幅/跌幅的周期天数</span>
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <app-multi-input
          formControlName="priceChangePercentInDays"
        ></app-multi-input>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label
        [nzSm]="6"
        [nzXs]="24"
        nzTooltipTitle="价格类型为 价格涨幅/跌幅 时必填，与涨跌幅周期天数一一对应"
      >
        <span>价格涨幅/跌幅的数值</span>
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <app-multi-input
          formControlName="priceChangePercentValue"
        ></app-multi-input>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
