<div class="dev-upload-container">
  <nz-spin [nzTip]="'正在上传...'" [nzSpinning]="loading">
    <ng-container *ngIf="imageUrl; else noImage">
      <div class="dev-has-upload">
        <img [src]="imageUrl" alt="uploaded_image">
        <div class="upload-layer">
          <button style="margin-left: 6px" nz-button nzType="primary" nzDanger nzShape="circle" nz-popconfirm
            nzPopconfirmTitle="确认删除?" nzPopconfirmPlacement="bottom" (nzOnConfirm)="toDelete()"><span nz-icon
              nzType="delete"></span></button>
        </div>
      </div>
    </ng-container>
    <ng-template #noImage>
      <div class="dev-no-upload">
        <span class="upload-action" nz-icon nzType="twitter" nzTheme="outline" (click)="open()"
          [title]="'从twitter主页链接下载'"></span>
        <label class="upload-action" [for]="id" style="margin-left: 12px;">
          <span nz-icon nzType="file-add" nzTheme="outline"></span>
          <input type="file" (change)="fileChange($event)" [id]="id" accept="image/*" multiple>
        </label>
      </div>
    </ng-template>
    <ng-template #previewModal>
      <div class="preview-container">
        <i class="anticon anticon-close"></i>
        <img [src]="imageUrl" alt="preview_image" style="width: 100%;">
      </div>
    </ng-template>
  </nz-spin>
</div>

<nz-modal [(nzVisible)]="modalVisible" [nzWidth]="600" [nzTitle]="'下载Twitter Logo'" [nzFooter]="modalFooter">

  <ng-container *nzModalContent>
    <nz-spin nzTip="uploading..." [nzSpinning]="loading">
      <input nz-input placeholder="请输入推特主页链接" [formControl]="twitterHomeLinkCtrl" />
    </nz-spin>
  </ng-container>

  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="modalVisible=false">取消</button>
    <button nz-button nzType="primary" (click)="handleUploadTwitter()" [nzLoading]="loading">上传</button>
  </ng-template>

</nz-modal>