<div class="cex-future-detail-container">
  <button nz-button nzType="primary" (click)="open()" [title]="'查看详情'">
    详情
  </button>
</div>

<nz-modal [(nzVisible)]="futureDetailModalVisible" [nzTitle]="futureDetailModalTitle" [nzWidth]="1000"
  (nzOnCancel)="futureDetailModalVisible=false" (nzOnOk)="futureDetailModalVisible=false">
  <ng-container *nzModalContent>
    <nz-card>
      <div nz-row [nzGutter]="16">
        <div nz-col class="gutter-row" [nzSpan]="24">
          <div class="inner-box">
            <div style="display: flex; justify-content: space-between; font-weight: bold; font-size: 18px;">
              价格
            </div>
            <tradingview-chart [series]="priceSeries" [width]="900" [options]="priceChartOptions"></tradingview-chart>
          </div>
        </div>

        <div nz-col class="gutter-row" [nzSpan]="24">
          <div class="inner-box">
            <div style="display: flex; justify-content: space-between; font-weight: bold; font-size: 18px;">
              开仓量
            </div>
            <tradingview-chart [series]="openInterestSeries" [width]="900" [options]="chartOptions"></tradingview-chart>
          </div>
        </div>

        <div nz-col class="gutter-row" [nzSpan]="24">
          <div class="inner-box">
            <div style="display: flex; justify-content: space-between; font-weight: bold; font-size: 18px;">
              资金费率
            </div>
            <tradingview-chart [series]="fundingRateSeries" [width]="900" [options]="chartOptions"></tradingview-chart>
          </div>
        </div>

        <div nz-col class="gutter-row" [nzSpan]="24">
          <div class="inner-box">
            <div style="display: flex; justify-content: space-between; font-weight: bold; font-size: 18px;">
              多空比
            </div>
            <tradingview-chart [series]="longShortRatioSeries" [width]="900"
              [options]="chartOptions"></tradingview-chart>
          </div>
        </div>
      </div>
    </nz-card>
  </ng-container>
</nz-modal>