<div class="followed-project-detail-container">
  <nz-card>
    <form nz-form [formGroup]="form" (ngSubmit)="submitForm()">
      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="6">
          <nz-form-item>
            <nz-form-label [nzSpan]="10" nzFor="name">项目名称</nz-form-label>
            <nz-form-control [nzSpan]="14">
              <input nz-input class="ant-input" placeholder="请输入项目名称" formControlName="name" [attr.id]="'name'" />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="6">
          <nz-form-item>
            <nz-form-label [nzSpan]="10" nzTooltipTitle="是否有最新动态">
              <span>最新动态</span>
            </nz-form-label>
            <nz-form-control [nzSpan]="14">
              <nz-radio-group formControlName="hasNews" nzSize="small" [nzButtonStyle]="'solid'">
                <label nz-radio-button [nzValue]="null">所有</label>
                <label nz-radio-button [nzValue]="true">有动态</label>
                <label nz-radio-button [nzValue]="false">无动态</label>
              </nz-radio-group>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="6">
          <nz-form-item>
            <nz-form-label [nzSpan]="10" nzTooltipTitle="是否发币">
              <span>是否发币</span>
            </nz-form-label>
            <nz-form-control [nzSpan]="14">
              <nz-radio-group formControlName="hasLaunchToken" nzSize="small" [nzButtonStyle]="'solid'">
                <label nz-radio-button [nzValue]="null">所有</label>
                <label nz-radio-button [nzValue]="true">已发币</label>
                <label nz-radio-button [nzValue]="false">未发币</label>
              </nz-radio-group>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="6">
          <nz-form-item>
            <nz-form-label [nzSpan]="10" nzFor="tagIDs">标签</nz-form-label>
            <nz-form-control [nzSpan]="14">
              <tag-select formControlName="tagIDs"></tag-select>
            </nz-form-control>
          </nz-form-item>
        </div>

      </div>


      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="24">
          <nz-form-item nz-row class="register-area">
            <nz-form-control [nzSpan]="14" [nzOffset]="6">
              <button nz-button [nzType]="'primary'">搜索</button>
              <button nz-button type="button" (click)="resetForm()" style="margin-left: 12px">重置</button>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
  </nz-card>

  <button nz-button [nzType]="'primary'" (click)="showCreateModal()" style="margin-top: 12px;">
    添加关注项目
  </button>

  <nz-spin [nzSpinning]="loading">
    <nz-card style="margin-top: 12px">
      <div style="display: flex; justify-content: center; margin-bottom: 12px">
        <nz-pagination [nzPageIndex]="pageIndex" [nzPageSize]="pageSize" [nzTotal]="total" [nzShowTotal]="rangeTemplate"
          (nzPageIndexChange)="pageIndexChange($event)">
        </nz-pagination>
      </div>
      <div nz-row [nzGutter]="16">
        <div *ngFor="let item of items" nz-col nzLg="8" nzXl="6" style="margin-bottom: 12px">

          <followed-project-item [item]="item" (read)="confirmRead(item)" (update)="confirmUpdate(item)"
            (delete)="confirmDelete(item)"></followed-project-item>
        </div>

        <ng-container *ngIf="items.length === 0">
          <div style="width: 100%; display: flex; justify-content: center;">
            <nz-empty></nz-empty>
          </div>
        </ng-container>
      </div>

      <div style="display: flex; justify-content: center;">
        <nz-pagination [nzPageIndex]="pageIndex" [nzPageSize]="pageSize" [nzTotal]="total" [nzShowTotal]="rangeTemplate"
          (nzPageIndexChange)="pageIndexChange($event)">
        </nz-pagination>
      </div>
      <ng-template #rangeTemplate let-range="range" let-total>
        {{ range[0] }}-{{ range[1] }} of {{ total }} items
      </ng-template>
    </nz-card>
  </nz-spin>
</div>