<button *ngIf="mode === 'edit'" nz-button nzType="primary" style="margin-right: 8px"
  (click)="showSelectTagsModal()">选择</button>

<nz-tag *ngFor="let tag of selectedTags; let i = index">
  {{ tag.text }}
</nz-tag>

<nz-modal [(nzVisible)]="selectTagsModalVisible" nzTitle="选择标签" [nzFooter]="null"
  (nzOnCancel)="selectTagsModalVisible = false">
  <ng-container *nzModalContent>
    <div class="manage-tags" style="margin-bottom: 8px">
      <button nz-button nzType="primary" (click)="showManageTagsModal()">管理标签</button>
    </div>

    <nz-card>
      <nz-tag *ngFor="let tag of allTags; let i = index" nzMode="checkable" [nzChecked]="hasSelectedTag(tag)"
        (nzCheckedChange)="tagSelectChange($event, tag)">{{tag.text}}</nz-tag>

      <nz-empty *ngIf="allTags.length === 0"></nz-empty>
    </nz-card>
  </ng-container>
</nz-modal>

<nz-modal [(nzVisible)]="manageTagsModalVisible" nzTitle="添加/删除 标签" [nzFooter]="null"
  (nzOnCancel)="manageTagsModalVisible = false">
  <ng-container *nzModalContent>
    <div class="add-tags" style="margin-bottom: 8px">
      <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
        <input type="text" nz-input placeholder="输入标签" [formControl]="tagInputCtrl" (keydown.enter)="toAddTag()" />
      </nz-input-group>
      <ng-template #suffixButton>
        <button nz-button nzType="primary" nzSize="large" (click)="toAddTag()">添加</button>
      </ng-template>
    </div>

    <nz-card>
      <nz-tag *ngFor="let tag of allTags; let i = index" nzMode="closeable"
        (nzOnClose)="onDeleteTag(tag)">{{tag.text}}</nz-tag>

      <nz-empty *ngIf="allTags.length === 0"></nz-empty>
    </nz-card>
  </ng-container>
</nz-modal>