<div class="fund-raise-container">
  <nz-card>
    <form nz-form [formGroup]="form" (ngSubmit)="submitForm()">
      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-label [nzSpan]="10" nzFor="investorName">投资机构</nz-form-label>
            <nz-form-control [nzSpan]="14">
              <nz-select name="investorName" [attr.id]="'investorName'" formControlName="investorName">
                <nz-option *ngFor="let investor of investors" [nzValue]="investor.name" [nzLabel]="investor.name">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-label [nzSpan]="10" nzFor="projectName">项目名称</nz-form-label>
            <nz-form-control [nzSpan]="14">
              <input nz-input class="ant-input" placeholder="请输入项目名称全称" formControlName="projectName"
                [attr.id]="'projectName'" />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>


      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="24">
          <nz-form-item nz-row class="register-area">
            <nz-form-control [nzSpan]="14" [nzOffset]="6">
              <button nz-button [nzType]="'primary'">搜索</button>
              <button nz-button type="button" (click)="resetForm()" style="margin-left: 12px">重置</button>
            </nz-form-control>
          </nz-form-item>
        </div>

      </div>

    </form>
  </nz-card>


  <button nz-button [nzType]="'primary'" (click)="showModal()" style="margin-top: 12px;">
    分析交叉投资
  </button>
  <nz-modal [(nzVisible)]="isVisible" [nzWidth]="1200" (nzOnCancel)="handleModalClose()" nzTitle="交叉投资"
    [nzFooter]="null">
    <ng-container *nzModalContent>
      <nz-table [nzLoading]="modalLoading" #basicTable [nzData]="projects">
        <thead>
          <tr>
            <th>项目名称</th>
            <th>项目官网</th>
            <th>投资机构</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>{{ data.name }}</td>
            <td>
              <a nz-button (click)="toLink(data.website)" nzType="link">{{ data.website }}</a>
            </td>
            <td>{{ data.investors.join(', ') }}</td>
          </tr>
        </tbody>
      </nz-table>
    </ng-container>
  </nz-modal>

  <nz-card style="margin-top: 12px">
    <nz-table nzShowSizeChanger [nzData]="fundRaises" [nzFrontPagination]="false" [nzLoading]="loading"
      [nzTotal]="total" [nzShowTotal]="rangeTemplate" [nzPageSize]="pageSize" [nzPageIndex]="pageIndex"
      (nzQueryParams)="onQueryParamsChange($event)">
      <thead>
        <tr>
          <th nzColumnKey="investorName">投资机构</th>
          <th nzColumnKey="projectName">项目名称</th>
          <th nzColumnKey="investDateStr" [nzSortFn]="true">融资日期</th>
          <th nzColumnKey="projectWebsite">项目官网</th>
          <th nzColumnKey="projectHomeLink">信息来源</th>
          <!-- <th nzColumnKey="leadInvestor">是否领投</th>
          <th nzColumnKey="fundRound">融资轮次</th> -->
          <th nzColumnKey="moneyRaised">融资金额</th>
          <th nzColumnKey="createdAtStr" [nzSortFn]="true">添加时间</th>
          <th nzColumnKey="Action">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of fundRaises">
          <td>{{ data.investorName }}</td>
          <td>{{ data.projectName }}</td>
          <td>{{ data.investDateStr }}</td>
          <td>
            <a nz-button (click)="toLink(data.projectWebsite)" nzType="link">{{ data.projectWebsite }}</a>
          </td>
          <td>
            <a nz-button (click)="toLink(data.projectHomeLink)" nzType="link">{{ data.projectHomeLink }}</a>
          </td>
          <!-- <td>{{ data.leadInvestor }}</td>
          <td>{{ data.fundRound }}</td> -->
          <td>{{ data.moneyRaised }}</td>
          <td>{{ data.createdAtStr }}</td>
          <td>


            <a nz-popconfirm nzPopconfirmTitle="确认删除该条数据?" nzPopconfirmPlacement="bottom"
              (nzOnConfirm)="confirmDelete(data)" (nzOnCancel)="cancelDelete(data)">
              <button nz-button nzType="primary" nzDanger>删除</button>
            </a>
          </td>
        </tr>
      </tbody>
    </nz-table>

    <ng-template #rangeTemplate let-range="range" let-total>
      {{ range[0] }}-{{ range[1] }} of {{ total }} items
    </ng-template>
  </nz-card>
</div>