<div class="cex-future-page-container">
  <div nz-row [nzGutter]="16">
    <div nz-col class="gutter-row" [nzSpan]="24">
      <nz-card>
        <cex-future-longshort-chart></cex-future-longshort-chart>
        <cex-future-fundingrate-chart></cex-future-fundingrate-chart>
        <cex-future-openinterest-chart></cex-future-openinterest-chart>
        <cex-future-price-chart></cex-future-price-chart>
      </nz-card>

      <nz-card style="margin-top: 12px">
        <form
          nz-form
          [formGroup]="form"
          (ngSubmit)="submitForm()"
          [nzLayout]="'inline'"
        >
          <nz-form-item>
            <nz-form-label nzFor="symbol">symbol</nz-form-label>
            <nz-form-control>
              <input
                nz-input
                class="ant-input"
                placeholder="请输入symbol"
                formControlName="symbol"
                [attr.id]="'symbol'"
              />
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label>是否标记</nz-form-label>
            <nz-form-control>
              <nz-radio-group
                formControlName="hasCollect"
                nzButtonStyle="solid"
              >
                <label
                  nz-radio-button
                  *ngFor="let item of colletStatuses"
                  [nzValue]="item.value"
                  >{{ item.label }}</label
                >
              </nz-radio-group>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item class="register-area">
            <nz-form-control>
              <button nz-button [nzType]="'primary'">搜索</button>
              <button
                nz-button
                type="button"
                (click)="resetForm()"
                style="margin-left: 12px"
              >
                重置
              </button>
            </nz-form-control>
          </nz-form-item>
        </form>
      </nz-card>

      <nz-card style="margin-top: 12px">
        <nz-table
          nzShowSizeChanger
          [nzData]="items"
          [nzFrontPagination]="false"
          [nzLoading]="loading"
          [nzTotal]="total"
          [nzShowTotal]="rangeTemplate"
          [nzPageSize]="pageSize"
          [nzPageIndex]="pageIndex"
          (nzQueryParams)="onQueryParamsChange($event)"
        >
          <thead>
            <tr>
              <th nzColumnKey="symbol">symbol</th>
              <th
                nzColumnKey="marketCap"
                [nzSortFn]="true"
                [nzSortDirections]="['descend', 'ascend', null]"
              >
                市值
              </th>

              <th
                nzColumnKey="fullyDilutedMarketCap"
                [nzSortFn]="true"
                [nzSortDirections]="['descend', 'ascend', null]"
              >
                FDV
              </th>
              <th nzColumnKey="slug">cmc</th>
              <th nzColumnKey="createdAtStr" [nzSortFn]="true">添加时间</th>
              <th nzColumnKey="Action" style="width: 200px">操作</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of items">
              <td>
                <div style="display: flex; align-items: center">
                  <app-collect-input
                    [formControl]="data.hasCollectCtrl"
                    style="margin-right: 8px"
                  ></app-collect-input>
                  <cex-future-symbol-item
                    [symbol]="data.symbol"
                    [content]="symbolContent"
                  >
                  </cex-future-symbol-item>

                  <ng-template #symbolContent let-logoName="logoName">
                    <image-view
                      [name]="logoName"
                      style="margin-right: 4px"
                    ></image-view>
                    <span class="symbol-item-custom-content">{{
                      data.symbol
                    }}</span>
                  </ng-template>
                </div>
              </td>
              <td [title]="data.marketCap | currency">
                <span class="marketcap-value">{{
                  data.marketCap | currency
                }}</span>
              </td>

              <td [title]="data.fullyDilutedMarketCap | currency">
                <span class="marketcap-value">{{
                  data.fullyDilutedMarketCap | currency
                }}</span>
              </td>

              <td>
                <div style="display: flex; align-items: center">
                  <linkable
                    *ngIf="data.slug; else noSlug"
                    [title]="'CMC ' + data.slug"
                    icon="copyright-circle"
                    [href]="'https://coinmarketcap.com/currencies/' + data.slug"
                  >
                  </linkable>
                  <ng-template #noSlug>
                    <span>--</span>
                  </ng-template>

                  <cex-future-item-slug
                    [symbol]="data.symbol"
                    [slug]="data.slug"
                    [content]="cexFutureSlugTemplate"
                    (update)="updateSlug($event, data)"
                  ></cex-future-item-slug>

                  <ng-template #cexFutureSlugTemplate>
                    <button
                      nz-button
                      [nzType]="'default'"
                      nzShape="circle"
                      nzSize="small"
                      [title]="'修改 slug'"
                      style="margin-left: 12px"
                    >
                      <span nz-icon nzType="edit" [nzTheme]="'outline'"></span>
                    </button>
                  </ng-template>
                </div>
              </td>

              <td>
                <created-at [createdAt]="data.createdAt"></created-at>
              </td>
              <td>
                <cex-future-item-detail
                  [symbol]="data.symbol"
                ></cex-future-item-detail>
              </td>
            </tr>
          </tbody>
        </nz-table>

        <ng-template #rangeTemplate let-range="range" let-total>
          {{ range[0] }}-{{ range[1] }} of {{ total }} items
        </ng-template>
      </nz-card>
    </div>
  </div>
</div>
