<nz-card *ngIf="item && mode==='default'" class="notify-observer-item-container" [ngStyle]="{width: width+'px'}"
  [nzTitle]="item.notifyShowTitle || '【默认通知标题】'" [nzExtra]="extraTemplate">
  <p style="display: flex; align-items: center; justify-content: space-between;">
    <button *ngIf="item.followedProjectIDCtrl" nz-button nzType="primary" nzShape="circle" nz-popover
      [nzPopoverContent]="contentTemplate"><span nz-icon nzType="project" nzTheme="outline"></span></button>
    <ng-template #contentTemplate>
      <followed-project-select *ngIf="item.followedProjectIDCtrl" [mode]="'view'"
        [formControl]="item.followedProjectIDCtrl"></followed-project-select>
    </ng-template>

    <nz-tag *ngIf="item.enableTracking; else disableTrackingTpl" nzColor="success">
      <i nz-icon nzType="check-circle"></i>
      <span>已开启</span>
    </nz-tag>
    <ng-template #disableTrackingTpl>
      <nz-tag nzColor="warning">
        <i nz-icon nzType="exclamation-circle"></i>
        <span>未开启</span>
      </nz-tag>
    </ng-template>

    <nz-switch [formControl]="item.enableTrackingCtrl"></nz-switch>
  </p>

  <p nz-typography nzEllipsis [nzEllipsisRows]="2" nzCopyable [nzContent]="resolveDesc(item)">
  </p>

  <div style="display: flex;justify-content: space-between;align-items: center;">
    <linkable [href]="resolveHref(item)" [content]="defaultLogo">
    </linkable>
    <span *ngIf="item.timerOnce" title="一次性通知" nz-icon nzType="minus-circle" [nzTheme]="'twotone'"
      [nzTwotoneColor]="'#eb2f96'" style="transform: rotate(90deg);"></span>
    <created-at [createdAt]="item.createdAt"></created-at>
  </div>

</nz-card>
<ng-template #extraTemplate>
  <button nz-button nzType="primary" nzShape="circle" (click)="confirmUpdate()"><span nz-icon
      nzType="edit"></span></button>

  <button style="margin-left: 6px" nz-button nzType="primary" nzDanger nzShape="circle" nz-popconfirm
    nzPopconfirmTitle="确认删除该通知源?" nzPopconfirmPlacement="bottom" (nzOnConfirm)="confirmDelete()"><span nz-icon
      nzType="delete"></span></button>
</ng-template>
<ng-template #defaultLogo>
  <image-view [width]="32" [name]="item?.logo"></image-view>
</ng-template>

<linkable *ngIf="item && mode==='small'" [title]="item.notifyShowTitle" [href]=" resolveHref(item)"
  [content]="defaultLogo">
</linkable>