<div class="create-timer-notify-observer-container">
  <form nz-form [formGroup]="data">
    <nz-alert nzType="warning" [nzMessage]="timerMessage" style="margin: 12px 0"></nz-alert>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="timerHour" nzTooltipTitle="hour: 0 - 23 必填">
        <span>时</span>
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <app-multi-input formControlName="timerHour" [min]="0" [max]="23"></app-multi-input>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="timerMinute" nzTooltipTitle="minute: 0 - 59 必填">
        <span>分</span>
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <app-multi-input formControlName="timerMinute" [min]="0" [max]="59"></app-multi-input>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="timerDate" nzTooltipTitle="date: 1 - 31 选填">
        <span>日</span>
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <app-multi-input formControlName="timerDate" [min]="1" [max]="31"></app-multi-input>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="timerMonth" nzTooltipTitle="month: 1 - 12 选填">
        <span>月</span>
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <app-multi-input formControlName="timerMonth" [min]="1" [max]="12"></app-multi-input>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="timerDayOfWeek"
        nzTooltipTitle="dayOfWeek : 0 - 6 选填，0表示周日，1表示周一，2表示周二等">
        <span>周几</span>
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <app-multi-input formControlName="timerDayOfWeek" [min]="0" [max]="6"></app-multi-input>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzTooltipTitle="开启后，使用脚本获取通知内容">
        <span>开启脚本</span>
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-switch formControlName="timerEnableScript"></nz-switch>

        <button *ngIf="!!data.get('timerEnableScript')?.value" style="margin-left: 12px;" [title]="'复制Blog脚本模板'"
          nz-button nzType="default" nzShape="circle" ngxClipboard [cbContent]="scriptTemplate"
          (cbOnSuccess)="copyScriptTemplateSucces($event)" (cbOnError)="copyScriptTemplateError($event)">
          <span nz-icon nzType="copy"></span>
        </button>

        <button *ngIf="!!data.get('timerEnableScript')?.value" style="margin-left: 12px;" [title]="'复制Gitbook脚本模板'"
          nz-button nzType="default" nzShape="circle" ngxClipboard [cbContent]="scriptTemplateGitbook"
          (cbOnSuccess)="copyScriptTemplateSucces($event)" (cbOnError)="copyScriptTemplateError($event)">
          <span nz-icon nzType="copy"></span>
        </button>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item *ngIf="data.get('timerEnableScript')?.value">
      <nz-form-label [nzSm]="6" [nzXs]="24" nzTooltipTitle="开启后，数据也会写入统计表">
        <span>开启统计数据</span>
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-switch formControlName="timerEnableStatistics"></nz-switch>

        <button *ngIf="!!data.get('timerEnableStatistics')?.value" style="margin-left: 12px;" [title]="'复制脚本模板'"
          nz-button nzType="default" nzShape="circle" ngxClipboard [cbContent]="scriptTemplateWithEnableStatistics"
          (cbOnSuccess)="copyScriptTemplateSucces($event)" (cbOnError)="copyScriptTemplateError($event)">
          <span nz-icon nzType="copy"></span>
        </button>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item *ngIf="data.get('timerEnableStatistics')?.value">
      <nz-form-label [nzSm]="6" [nzXs]="24" [nzTooltipTitle]="'统计表定义 最多 ' + maxFieldsCount + '个 字段'">
        <span>统计表定义</span>
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <app-statistics-definitions formControlName="timerStatisticsDefinitions"></app-statistics-definitions>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item *ngIf="data.get('timerEnableScript')?.value">
      <nz-form-label [nzSpan]="4" nzFor="timerScript" nzTooltipTitle="script">
        <span>script</span>
      </nz-form-label>
      <nz-form-control [nzSpan]="20">
        <ngx-monaco-editor style="height: 400px;" [options]="editorOptions"
          formControlName="timerScript"></ngx-monaco-editor>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item *ngIf="data.get('timerEnableScript')?.value">
      <nz-form-label [nzSm]="6" [nzXs]="24" nzTooltipTitle="testing">
        <span>testing</span>
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <div style="display: flex; justify-content: center;">
          <button nz-button nzType="primary" [nzLoading]="testing" (click)="tester()">
            Test
          </button>
        </div>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item *ngIf="!data.get('timerEnableScript')?.value">
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="timerNotifyShowDesc" nzTooltipTitle="通知显示详情">
        <span>通知显示详情</span>
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <textarea nz-input class="ant-input" id="timerNotifyShowDesc" formControlName="timerNotifyShowDesc"></textarea>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item *ngIf="!data.get('timerEnableScript')?.value">
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="timerNotifyShowUrl" nzTooltipTitle="通知跳转链接">
        <span>通知跳转链接</span>
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <textarea nz-input class="ant-input" id="timerNotifyShowUrl" formControlName="timerNotifyShowUrl"></textarea>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzTooltipTitle="开启后，通知完毕则删除通知源">
        <span>一次性通知</span>
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-switch formControlName="timerOnce"></nz-switch>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzTooltipTitle="timer custom logo">
        <span>timer logo</span>
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your timer custom logo!">
        <upload-file formControlName="timerLogo"></upload-file>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>

<nz-modal [(nzVisible)]="showModal" [nzWidth]="800" [nzFooter]="null" (nzOnCancel)="showModal=false" nzTitle="脚本获取到的内容">
  <ng-container *nzModalContent>
    <pre>{{ obj | json }}</pre>

    <nz-list nzBordered nzSize="small" style="margin-top: 12px; max-height: 400px; overflow: auto;">
      <nz-list-header>Log</nz-list-header>
      <nz-list-item *ngFor="let item of logs">
        <span>{{item.type}}</span>
        <pre>{{item.content}}</pre>
      </nz-list-item>
    </nz-list>
  </ng-container>
</nz-modal>