<div class="create-timer-notify-observer-container">
  <form nz-form [formGroup]="data">
    <nz-alert nzType="warning" [nzMessage]="timerMessage" style="margin: 12px 0"></nz-alert>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="timerHour" nzTooltipTitle="hour: 0 - 23 必填">
        <span>时</span>
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <app-multi-input formControlName="timerHour" [min]="0" [max]="23"></app-multi-input>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="timerMinute" nzTooltipTitle="minute: 0 - 59 必填">
        <span>分</span>
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <app-multi-input formControlName="timerMinute" [min]="0" [max]="59"></app-multi-input>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="timerDate" nzTooltipTitle="date: 1 - 31 选填">
        <span>日</span>
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <app-multi-input formControlName="timerDate" [min]="1" [max]="31"></app-multi-input>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="timerMonth" nzTooltipTitle="month: 1 - 12 选填">
        <span>月</span>
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <app-multi-input formControlName="timerMonth" [min]="1" [max]="12"></app-multi-input>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="timerNotifyShowDesc" nzTooltipTitle="通知显示详情">
        <span>通知显示详情</span>
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <textarea nz-input class="ant-input" id="timerNotifyShowDesc" formControlName="timerNotifyShowDesc"></textarea>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="timerNotifyShowUrl" nzTooltipTitle="通知跳转链接">
        <span>通知跳转链接</span>
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <textarea nz-input class="ant-input" id="timerNotifyShowUrl" formControlName="timerNotifyShowUrl"></textarea>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzTooltipTitle="开启后，通知完毕则删除通知源">
        <span>一次性通知</span>
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-switch formControlName="timerOnce"></nz-switch>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>